{#
/**
 * @file
 * Theme implementation for an item list.
 *
 * We are reusing here @system/item-list.html.twig and just adding a
 * wrapper_attributes implementation.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}
{% if (wrapper_attributes.storage is not empty) and (items or empty) -%}
  <div{{ wrapper_attributes }}>
    {% include '@system/item-list.html.twig' %}
  </div>
{% else -%}
  {% include '@system/item-list.html.twig' %}
{%- endif %}
