{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% block view %}
<div{{ attributes.addClass(classes) }}>
  {% block title %}
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}
  {% endblock %}
  {% if header %}
    {% block header %}
      <header class="views__header">
        {{ header }}
      </header>
    {% endblock %}
  {% endif %}
  {{ exposed }}
  {% if attachment_before %}
    {% block attachment_before %}
      <div class="views__attachment">
        {{ attachment_before }}
      </div>
    {% endblock %}
  {% endif %}
  {% block content %}
    <div class="views__content">
      {% if rows %}
        {{ rows }}
      {% elseif empty %}
        {{ empty }}
      {% endif %}
    </div>
    {% if pager %}
      {% set pager = pager|merge({'#attributes': {'class': ['views__pager']}}) %}
      {{ pager }}
    {% endif %}
  {% endblock %}
  {% if attachment_after %}
    {% block attachment_after %}
      <div class="views__attachment">
        {{ attachment_after }}
      </div>
    {% endblock %}
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    {% block footer %}
      <footer class="views__footer">
        {{ footer }}
      </footer>
    {% endblock %}
  {% endif %}
  {% if feed_icons %}
    {% block feed_icons %}
      <div class="views__feed">
        {{ feed_icons }}
      </div>
    {% endblock %}
  {% endif %}
</div>
{% endblock %}
