// Basic styling for footer section and it regions.

.page__footer {
  --#{$prefix}heading-color: #{$footer-heading-color};
  --#{$prefix}link-color: #{$footer-link-color};
  --#{$prefix}link-hover-color: #{$footer-link-hover-color};
  --bsb-bg-color: #{$footer-bg};
  --bsb-color: #{$footer-color};
  --bsb-link-active-color: #{$footer-link-active-color};
  --bsb-link-hover-border-color : #{$footer-nav-link-hover-border-color};
  --bsb-link-active-border-color: #{$footer-nav-link-active-border-color};
  background-color: var(--bsb-bg-color);
  @if $footer-border {
    border-top: $footer-border;
  }
  color: var(--bsb-color);
  font-size: $footer-font-size;

  a.nav-link {
    @include style-nav-link($footer-link-color, $footer-link-hover-color, $footer-link-active-color, $text-hover-decoration: $footer-link-hover-text-decoration, $link-hover-border-width: $footer-nav-link-hover-border-width, $link-hover-border-color: $footer-nav-link-hover-border-color, $link-active-border-color: $footer-nav-link-active-border-color);
  }

  &__content {
    .block {
      &__title {
        @if $footer-block-title-font-size {
          font-size: $footer-block-title-font-size;
        }
      }
    }
  }

  &__copyright {
    --bsb-bg-color: #{$footer-copyright-bg};
    --bsb-color: #{$footer-copyright-color};

    background-color: var(--bsb-bg-color);
    @if $footer-copyright-border {
      border-top: $footer-copyright-border;
    }
    color: var(--bsb-color);

    @if $footer-copyright-link-color != $footer-link-color {
      a:not(.btn):not(.nav-link) {
        @include style-link($footer-copyright-link-color, $footer-copyright-link-hover-color);
      }

      a.nav-link {
        @include style-nav-link($footer-copyright-link-color, $footer-copyright-link-hover-color, $link-hover-border-width: $footer-nav-link-hover-border-width, $link-hover-border-color: $footer-nav-link-hover-border-color, $link-active-border-color: $footer-copyright-link-active-color);
      }
    }
  }
}
