// Layout and basic styling for header section and it regions.

.page__header {
  --#{$prefix}link-color: #{$header-link-color};
  --#{$prefix}link-hover-color: #{$header-link-hover-color};
  --bsb-link-active-color: #{$header-link-active-color};
  --bsb-link-hover-border-color : #{$header-link-hover-border-color};
  --bsb-link-active-border-color: #{$header-link-active-border-color};
  @if $header-color {
    --bsb-color: #{$header-color};
  }
  color: var(--bsb-color);

  .block {
    // Header blocks usually have horizontal one row layout and
    // having a bottom margin by default will not work for them.
    margin-bottom: 0;
  }

  // But Branding block usually needs top and bottom margin on various screens
  // so there is always some space between borders - looks better that way.
  @if ($navbar-brand-vertical-margins) {
    .navbar-brand {
      @each $breakpoint, $margins in $navbar-brand-vertical-margins {
        @include media-breakpoint-up($breakpoint) {
          margin-top: map-get($margins, 'top');
          margin-bottom: map-get($margins, 'bottom');
        }
      }
    }
  }

  a.nav-link {
    @include style-nav-link($header-link-color, $header-link-hover-color, $header-link-active-color, $link-hover-border-width: $header-link-hover-border-width, $link-hover-border-color: $header-link-hover-border-color, $link-active-border-color: $header-link-active-border-color);
  }

  &__top {
    @if $header-top-bg {
      --bsb-bg-color: #{$header-top-bg};
    }
    @if $header-top-color {
      --bsb-color: #{$header-top-color};
    }
    background-color: var(--bsb-bg-color);
    @if $header-top-border {
      border-bottom: $header-top-border;
    }
    color: var(--bsb-color);
    font-size: $header-top-font-size;

    // Region top is vertically centered row with flex-end align.
    @at-root .region-top {
      align-items: center;
      justify-content: flex-end;

      // @todo - remove negative margins and block padding if you decide to move
      // _header-layout-align.scss partial here.
      .block {
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
      }
    }

    // General link rules.
    @if $header-top-link-color != $header-link-color or $header-top-link-hover-color != $header-link-hover-color {
      a:not([class]), a.ext:not(.nav-link) {
        @include style-link($header-top-link-color, $header-top-link-hover-color);
      }

      a.nav-link {
        @include style-nav-link($header-top-link-color, $header-top-link-hover-color);
      }
    }
  }

  // For small screens region-navbar (main menu) needs to be on the end because
  // it will expand horizontally fully.
  @include media-responsive-breakpoint-down($navbar-collapse-responsive-break) {
    .region-navbar {
      order: 1;

      .block {
        // In this case we will also un-reset bottom margin because blocks are
        // now vertically stacked.
        margin-bottom: $spacer;
      }
    }
  }

  // When navbar collapse responsive break is the largest breakpoint then we
  // need to modify displays of navbar collapse region and toggler.
  @if breakpoint-max($navbar-collapse-responsive-break) == null {
    // Toggler is always shown.
    .navbar-toggler {
      display: block !important;
    }
  }
}

.region-brand {
  // By default we assume horizontal grid layout for blocks.
  display: flex;
  align-items: center;
  // @todo - remove negative margins and block padding if you decide to move
  // _header-layout-align.scss partial here.
  margin-right: -$grid-gutter-width/2;
  margin-left: -$grid-gutter-width/2;

  .block {
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
  }

  // Responsive navbar brand widths that are controls logo width.
  @if ($navbar-brand-responsive-widths) {
    @each $breakpoint, $width in $navbar-brand-responsive-widths {
      @include media-breakpoint-up($breakpoint) {
        // We need to add negative grid gutter margins.
        flex-basis: calc(#{$width} + #{$grid-gutter-width});
        max-width: calc(#{$width} + #{$grid-gutter-width});
      }
    }

    @include media-breakpoint-up($responsive-break) {
      // Fix dimension of brand for bigger screens.
      flex-grow: 0;
      flex-shrink: 0;
    }

    .site-logo-link {
      // We need block display here so that logo link boundaries are calculated
      // better.
      display: block;
      // Control logo dimensions, prevent taking full width (so we have
      // site-name on the same line), prevent overflow and set well defined
      // basic dimensions.
      flex: 0 0 auto;
    }
  }

  .site-name,
  .site-slogan {
    display: none;

    @include media-breakpoint-up($responsive-break) {
      display: inherit;
    }
  }
}

.region-navbar {
  justify-content: flex-end;
}

.region-navigation-second {
  display: flex;
  align-items: center;
}

// For now we are not applying this rules to all menus in header
// section because it is still not sure should we apply this to navbar
// collapse section which behaves differently for small screens.
// @todo - lets check a bit latter should we apply same rules for navbar
// or maybe just button rules?
.page__header__top,
.region-navigation-second {
  .block-menu .nav {
    // Menu links in navigation second are horizontal for all screens for now.
    flex-direction: row;

    // Button links in row needs extra spacing around them.
    .btn {
      margin-right: $nav-link-padding-x;
      margin-left: $nav-link-padding-x;
    }
  }
}
