// Introduce proper grid gutter to header regions blocks and apply navigation
// links padding value as negative margin to nav wrapper.
//
// NOTE: This solution assumes that region-navigation-second blocks are shown
// only for small screens. If you have blocks there that are shown for big
// screens you need to apply next CSS rule to the first block:
//   @include media-breakpoint-up($navbar-collapse-responsive-break) {
//     .region-navigation-second > .block:first-item {
//       padding-left: 3*$grid-gutter-width/2;
//     }
//   }
// This rule will properly make space between first block in
// region-navigation-second last block in region-navbar.
.page__header {
  .region:not(.region-navbar) {
    margin-right: -$header-grid-gutter-width/2;
    margin-left: -$header-grid-gutter-width/2;

    .block {
      padding-right: $header-grid-gutter-width/2;
      padding-left: $header-grid-gutter-width/2;
    }

    .nav {
      margin-right: -$nav-link-padding-x;
      margin-left: -$nav-link-padding-x;
    }
  }

  // For the main navbar navigation we apply this rules only for not
  // mobile/collapsed version on big screens.
  @include media-breakpoint-up($navbar-collapse-responsive-break) {
    .region-navbar {
      margin-right: -$header-grid-gutter-width/2;
      margin-left: -$header-grid-gutter-width/2;

      .block {
        padding-right: $header-grid-gutter-width/2;
        padding-left: $header-grid-gutter-width/2;
      }

      .navbar-nav {
        margin-right: -$navbar-nav-link-padding-x;
        margin-left: -$navbar-nav-link-padding-x;
      }
    }
  }
}

