// General grid layout helper classes.
// They exist here so we do not need to load the whole bootstrap/_grid.scss
// and the full default 12 grid layout.

@if $enable-grid-classes {
  .container-fluid {
    @include make-container();
  }

  .container {
    @include make-container();
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        max-width: $container-max-width;
      }
    }
  }

  .row {
    @include make-row();
  }

  .col {
    position: relative;
    width: 100%;
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
    +
      > .col,
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
  }
}
