.site-logo-link {
  img {
    max-width: 100%;
  }
}

.maintenance--image {
  @include media-responsive-breakpoint-up() {
    .maintenance__text {
      flex-basis: 60%;
      max-width: 60%;
      display: flex;
      align-items: center;
    }

    .maintenance__image {
      flex-basis: 40%;
      max-width: 40%;
    }
  }
}
