.page {
  &__main {
    // Reset bottom margin of last child block. This will prevent various odd
    // vertical misaligns and make vertical layouting easier.
    .block:last-child {
      margin-bottom: 0;
    }
  }

  &__content--with-sidebar {
    .page__content-col,
    .region-content-sidebar {
      @include make-col-ready();
    }

    @include media-breakpoint-up(md) {
      .page__content-col {
        @include make-col($page-content-columns);
      }

      .region-content-sidebar {
        @include make-col($page-content-sidebar-columns);
      }
    }
  }
}

.region-content-top {
  // For the last block remove bottom margin because content in this region
  // usually have bg color or image and having this margin with a sibling
  // breadcrumb with bg or main content with alternate/inverted bg color
  // container will not look good.
  .block:last-child {
    margin-bottom: 0;
  }
}

.region-content-header {
  // Make a vertical distance from content_header last local task block to
  // content region. Usefull when there are local tasks in content_header and
  // content does not starts with a title.
  // We are using last block selector here and not directly
  // .region-content-header because because region will be rendered even when
  // it is empty.
  // @see https://www.drupal.org/project/drupal/issues/953034.
  .block-local-tasks-block:last-child {
    margin-bottom: $container-spacer-y;
  }
}

@if $region-content-footer-margin {
  .region-content-footer {
    margin-bottom: $region-content-footer-margin;
  }
}
