.views {
  &__pager {
    // Make distance between views content and pager.
    // @todo - should we use responsive gutter here, like for horizontal gutter?
    margin-top: $grid-gutter-width-y;
  }

  // Unformatted views item class.
  &__item:not(:last-child) {
    // @todo - should we use responsive gutter here, like for horizontal gutter?
    margin-bottom: $grid-gutter-width-y;
  }

  // Spacing between views content and RSS feed.
  &__feed {
    margin-top: $grid-gutter-width-y;
  }

  &__pager {
    .pagination {
      // Bottom margin that is coming from ul element will mess views vertical
      // layout so we will reset it.
      margin-bottom: 0;
    }
  }

  &-view-grid {
    .views-row {
      @include make-row();

      // Reset bottom margin that is coming from views-col elements for the last
      // views-row.
      &:last-child {
        margin-bottom: -$grid-gutter-width-y;
      }
    }

    .views-col {
      @include make-col-ready();
      // @todo - should we use responsive gutter here, like for horizontal gutter?
      margin-bottom: $grid-gutter-width-y;

      // Expand child item to full height.
      display: flex;
    }

    &.cols-2 {
      .views-col {
        @include media_breakpoint-up($responsive-break) {
          @include make-col(6, 12);
        }
      }
    }

    &.cols-3 {
      .views-col {
        @include media_breakpoint-up($responsive-break) {
          @include make-col(4, 12);
        }
      }
    }

    &.cols-4 {
      .views-col {
        @include media_breakpoint-up('sm') {
          @include make-col(6, 12);
        }

        @include media_breakpoint-up($responsive-break) {
          @include make-col(3, 12);
        }
      }
    }

    &.cols-5 {
      .views-col {
        @include media_breakpoint-up('sm') {
          @include make-col(6, 12);
        }

        @include media_breakpoint-up('md') {
          @include make-col(4, 12);
        }

        @include media_breakpoint-up('lg') {
          @include make-col(2.4, 12);
        }
      }
    }

    &.cols-6 {
      .views-col {
        @include media_breakpoint-up('sm') {
          @include make-col(6, 12);
        }

        @include media_breakpoint-up('md') {
          @include make-col(4, 12);
        }

        @include media_breakpoint-up('xl') {
          @include make-col(2, 12);
        }
      }
    }
  }

  &-exposed-form {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
}
