{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup templates
 *
 * @see template_preprocess_status_messages()
 */
#}
{{ attach_library('bs_lib/messages') }}
{%
  set status_headings = {
    'status': 'Status message'|t,
    'error': 'Error message'|t,
    'warning': 'Warning message'|t,
    'info': 'Informative message'|t,
  }
%}
{%
  set status_classes = {
    'status': 'success',
    'error': 'danger',
    'warning': 'warning',
    'info': 'info',
  }
%}
{% block messages %}
  <div class="alerts__wrapper">
    {% for type, messages in message_list %}
      {%
        set classes = [
          'alert',
          'alert-' ~ status_classes[type],
          'alert-dismissible',
        ]
      %}
      {% block message %}
        <div{{ attributes.addClass(classes) }} role="alert">
          <button href="#" role="button" class="close" data-dismiss="alert" aria-label="{{ 'Close'|t }}">
            <span aria-hidden="true">&times;</span>
          </button>
          {% if status_headings[type] %}
            <h2 class="sr-only">{{ status_headings[type] }}</h2>
          {% endif %}
          {% if messages|length > 1 %}
            <ul class="item-list item-list--messages">
              {% for message in messages %}
                <li class="item item--message">{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
        </div>
      {% endblock message %}
      {# Remove type specific classes. #}
      {% set attributes = attributes.removeClass(classes) %}
    {% endfor %}
  </div>
{% endblock messages %}
