// Render quoted unicode ASCII output character value.
//
// @see https://github.com/sass/dart-sass/issues/568#issuecomment-1155138815
@function bs-content($value) {
  @return unquote("\"") + unquote(str-insert($value, "\\", 1)) + unquote("\"");
}

// Prepare a value for content property for a given icon name.
@function bs-icon-content($icon-name) {
  @return bs-content(map-get($bs-icon-map, $icon-name));
}

// If key exists in map it returns the key value, if not returns default value.
@function bs-map-get-default($map, $key, $default) {
  @return if(map-has-key($map, $key), map-get($map, $key), $default);
}

// Map deep get.
// See https://css-tricks.com/snippets/sass/deep-getset-maps/
@function bs-map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Merge two maps. Similar to the map-merge built into SCSS, but has added
// functionality to remove any key/value pair from the resulting map where the
// value is null.
@function bs-map-merge($map1, $map2) {
  $result: map-merge($map1, $map2);

  // Remove any null from a map. This allows child themes to
  // remove values they not want by setting them to null.
  @each $key, $value in $result {
    @if ($value == null) {
      $result: map-remove($result, $key);
    }
  }

  @return $result;
}

// Merges two multidimensional maps recursively.
// It will remove any key/value pair from the resulting map where the value is
// null.
// @see https://github.com/pentzzsolt/sass-recursive-map-merge
@function bs-map-recursive-merge($map1, $map2, $config:() ) {
  @if (type-of($map1) == map or (type-of($map1) == list and length($map1) == 0)) and (type-of($map2) == map or (type-of($map2) == list and length($map2) == 0)) {
    $result: $map1;
    @each $key, $value in $map2 {
      @if (type-of(map-get($result, $key)) == map and type-of($value) == map) {
        $result: map-merge($result, ($key: bs-map-recursive-merge(map-get($result, $key), $value)));
      }
      @else if (map-get($config, "merge-lists") and type-of(map-get($result, $key)) == list and type-of($value) == list) {
        $result: map-merge($result, ($key: join(map-get($result, $key), $value)));
      }
      @else {
        $result: map-merge($result, ($key: $value));
      }
    }

    // Remove any null from a map. This allows child themes to
    // remove values they not want by setting them to null.
    @each $key, $value in $result {
      @if ($value == null) {
        $result: map-remove($result, $key);
      }
    }

    @return $result;
  }
  @else {
    @warn "bs-map-recursive-merge() expects it\'s parameters to be map types!";
    @return null;
  }
}

// Colors, ported from BS5.
// TODO - remove in 2.x version because we can use the one from BS5.
@function to-rgb($value) {
  @return red($value), green($value), blue($value);
}
