{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode.id()|clean_class,
  ]
%}
{% block media %}
  <article{{ attributes.addClass(classes) }}>
    {% block media_content %}
      {{ title_suffix.contextual_links }}
      {% if content %}
        {{ content }}
      {% endif %}
    {% endblock %}
  </article>
{% endblock %}

