// Display only on screens smaller then responsive break width.
.only-size-small,
.display-only-small {
  display: block !important;

  @include media-responsive-breakpoint-up() {
    display: none !important;
  }
}

// Display only on screens bigger then responsive break width.
.only-size-big,
.display-only-big {
  display: none !important;

  @include media-responsive-breakpoint-up() {
    display: block !important;
  }
}

.display-only-offcanvas-small {
  display: block !important;

  @include media-breakpoint-up($navbar-collapse-responsive-break) {
    display: none !important;
  }
}
.display-only-offcanvas-big {
  display: none !important;

  @include media-breakpoint-up($navbar-collapse-responsive-break) {
    display: block !important;
  }
}

.hide-size-small {
  @include media-responsive-breakpoint-down() {
    display: none !important;
  }
}

.hide-size-big {
  @include media-responsive-breakpoint-up() {
    display: none !important;
  }
}

// Display label only on big screens and for other screens show it only for
// screen readers.
.label-only-size-big {
  label,
  .label {
    @include media-responsive-breakpoint-down() {
      @include sr-only;
    }
  }
}

// Hide label for all screens but still show them on screen readers.
.hide-label {
  label,
  .label {
    @include sr-only;
  }
}
