// Typography.
// @todo - This whole section is obsolete and will be redone with issue
// https://www.drupal.org/node/2870726.
//
// Experimenting with gridlover vertical rythm.
// @see https://www.gridlover.net/try
//   Font size:    16
//   Line height:  1.5
//   Scale factor: 1.333
//
// @note - Investigate next links
// - http://typecast.com/blog/4-simple-steps-to-vertical-rhythm
// - https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm
// - https://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/
// and figure something nicer.

// http://bootstrap-documentation/docs/4.0/content/reboot/#page-defaults state
// No base font-size is declared on the <html>, but 16px is assumed (the browser
// default). font-size: 1rem is applied on the <body> for easy responsive
// type-scaling via media queries while respecting user preferences and ensuring
// a more accessible approach.
//html {
//  // Set html size for rems.
//  font-size: $font-size-html;
//}

:root {
  --#{$prefix}heading-color: #{$headings-color};
  --#{$prefix}link-color: #{$link-color};
  --#{$prefix}link-hover-color: #{$link-hover-color};
  --bsb-link-active-color: #{$link-hover-color};
}

h1, .h1 {
  @include heading($font-size-h1);
}
h2, .h2 {
  @include heading($font-size-h2);
}
h3, .h3 {
  @include heading($font-size-h3);
}
h4, .h4 {
  @include heading($font-size-h4);
}
h5, .h5 {
  @include heading($font-size-h5);
}
h6, .h6 {
  @include heading($font-size-h6);
}

// Bootstrap reboot does not use variable for various other basic content
// elements, so we will normalize this elements here to behave in the same
// way as p element.
ul, ol, dl, pre, blockquote, table {
  margin-bottom: $content-spacer;
}

hr, .hr {
  // Apply negative margin for hr height so hr does not take additional
  // vertical space.
  margin-top: -$hr-border-width;
}

sub, sup {
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

// Partial port from BS5 - we do not use alpha part for now.
a {
  color: var(--#{$prefix}link-color);

  &:hover,
  &:focus {
    --#{$prefix}link-color: var(--#{$prefix}link-hover-color);
    color: var(--#{$prefix}link-color);
  }
}

// Element states.

:focus,
button:focus {
  outline-color: $focus-outline-color;
}
