.table-responsive {
  @include media-breakpoint-up($responsive-break-table) {
    // For big screens its better that responsive table has display table so
    // it expands to full width.
    display: table;
  }
}
