// Apply grayish shadow to element with hover effect. Useful for buttons with
// hover raise effect and similar.
.shadow-dark {
  box-shadow: map-get($shadow-dark, initial);

  @include hover-focus() {
    box-shadow: map-get($shadow-dark, hover);
  }
}

// Link that has icon in before pseudo element.
.link-icon {
  @include bs-icon();

  // Increase icon gap for big buttons.
  @if $btn-icon-gap {
    &.btn-lg {
      &::before {
        padding-right: 2*$btn-icon-gap;
      }
    }
  }

  &.action-delete {
    @include bs-icon-var($fa-var-trash-o);
  }
}
