// BS Base variables

//
// Color system - taken from Bootstrap.
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

// Porting compatibility layer from Bootstrap alpha6 to beta1.
// @todo - refactor and remove.
$gray-dark:     map-get($colors, 'gray-dark') !default;
$gray:          map-get($colors, 'gray') !default; // @todo - map-get($colors, 'gray')
$gray-light:    map-get($theme-colors, 'gray-light') !default;
$gray-lighter:  $gray-200 !default;
$gray-lightest: $gray-100 !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:          true !default;
$enable-box-shadow:       true !default;
$enable-box-shadow-hover: true !default;


//Fonts
//
// Do note that you are free to override any one of font family variables and
// adapt font family generation CSS as you like:
// - $base-fonts: If you want to change fonts that are coming from this parent
//   then override $base-fonts variable.
// - $additional-fonts: If you want to add additional fonts and leave base fonts
//   from parent then override $additional-fonts variable.
// - $theme-fonts: Finally you can override $theme-fonts variable to change how
//   previous two font variables are merged or provide new font definitions.
// Base theme fonts.
$base-fonts:        () !default;
// Additional fonts that can be defined in child theme.
$additional-fonts:  () !default;
// Final theme fonts definition that will be used for font family generation.
$theme-fonts:       bs-map-merge($base-fonts, $additional-fonts) !default;

// Base font size used for HTML tag. Everything else should use rem units.
// http://bootstrap-documentation/docs/4.0/content/reboot/#page-defaults state
// No base font-size is declared on the <html>, but 16px is assumed (the browser
// default). font-size: 1rem is applied on the <body> for easy responsive
// type-scaling via media queries while respecting user preferences and ensuring
// a more accessible approach.
//$font-size-html:    18px !default;
$font-size-base: 1.125rem !default; // Base font size 18px.
$font-size-lg:   1.25rem !default;
$font-size-sm:   .9rem !default;  // ~ 14.4px.

$headings-line-height:          1.2 !default;
$headings-margin-top-factor:    1.5 !default;
$headings-margin-bottom-factor: 0.6 !default;
$headings-letter-spacing:       false !default;
$headings-color:                inherit !default;


// Layout

// General space variable.
$spacer:    1rem !default;
$spacer-x:  $spacer !default;
$spacer-y:  $spacer !default;

// General content space variable - for example bottom margin for p, ul etc.
$content-spacer: $spacer !default;

// General vertical container gap.
$container-spacer-y: 2 * $spacer-y !default;

$grid-columns:        12 !default;
$grid-gutter-width:   30px !default;
$grid-gutter-width-y: $grid-gutter-width !default;
$page-content-columns:          9 !default;
$page-content-sidebar-columns:  3 !default;

// Defines screen size between 'bigger' and 'smaller' screens. Usually this is
// a size where navigation bar is hidden for smaller screen and toggler is show.
$responsive-break: "md" !default;

// If you need to always enable responsive navigation behaviour for all screens
// then use biggest breakpoint here, usually `xl`.
$navbar-collapse-responsive-break: $responsive-break !default;

$region-content-footer-margin: $container-spacer-y !default;


// Components

$body-bg:     $white !default;
$body-color:  $gray-dark !default;

$border-color:  $gray-lighter !default;
$border-radius: $spacer / 4 !default;

$disabled-color: $gray-600 !default;

$hover-amount: 5% !default;

$overlay-light-bg: rgba($white, 0.9) !default;

$shadow-dark: () !default;
$shadow-dark: map-merge(
  (
    initial: 0 1px 2px rgba(0,0,0,.45),
    hover: 0 2px 4px rgba(0,0,0,.5)
  ), $shadow-dark
);

// Table
$table-head-bg:   $gray-lightest !default;
$table-bg-hover:  #f7fcff !default;

// Links
$link-color:            map-get($theme-colors, 'primary') !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, $hover-amount) !default;
$link-hover-decoration: underline !default;

$focus-outline-color:   $link-hover-color !default;

// Buttons
$btn-text-transform:  false !default;
$btn-icon-gap:        $spacer/3 !default;

$btn-neutral-color:               #495057 !default;
$btn-neutral-bg-color:            #d2d2d2 !default;
$btn-neutral-border-color:        $btn-neutral-bg-color !default;
$btn-neutral-hover-color:         darken($btn-neutral-color, 5%) !default;
$btn-neutral-hover-bg-color:      darken($btn-neutral-bg-color, 3%) !default;
$btn-neutral-hover-border-color:  darken($btn-neutral-border-color, 3%) !default;

// General nav links in content.
$nav-link-hover-color:            $link-hover-color !default;
$nav-link-hover-text-decoration:  none !default;
$nav-link-hover-border-width:     1px !default;
$nav-link-hover-border-color:     $link-hover-color !default;
$nav-link-active-color:           $nav-link-hover-color !default;
$nav-link-active-border-color:    $link-hover-color !default;
$nav-link-padding-y:              .5rem !default;
$nav-link-padding-x:              .5rem !default;

$nav-tabs-link-padding-y:         .5rem !default;
$nav-tabs-link-padding-x:         1rem !default;

$language-link-transform: false !default;

// Field
$field-label-padding:     1ch !default;
$field-label-font-weight: bold !default;
$field-label-after-char:  ':' !default;
$field-label-inline-breakpoint: 'sm' !default;

// Block
$block-spacer-y: $spacer !default;

// Header (navbar) region.
$header-bg:                       $gray-lighter !default;
$header-color:                    false !default;
$header-border-color:             rgba($black, .1) !default;
$header-grid-gutter-width:        $grid-gutter-width !default;
$header-link-color:               map-get($theme-colors, 'primary') !default;
$header-link-hover-color:         darken($header-link-color, $hover-amount) !default;
$header-link-hover-bg:            transparent !default;
$header-link-active-color:        $header-link-hover-color !default;
$header-link-active-bg:           transparent !default;
$header-link-hover-border-width:  3px !default;
$header-link-hover-border-color:  $header-link-hover-color !default;
$header-link-active-border-color: $header-link-active-color !default;
$header-link-size:                $font-size-lg !default;
$header-toggler-margin-y:         $spacer !default;

// Header top region.
$header-top-bg:                       $header-bg !default;
$header-top-border:                   1px solid $header-border-color !default;
$header-top-color:                    $header-color !default;
$header-top-font-size:                $font-size-sm !default;
$header-top-link-padding-x:           $nav-link-padding-x/2 !default;
$header-top-link-padding-y:           $nav-link-padding-y !default;
// DEPRECIATED - use x/y combination from above instead.
$header-top-link-padding:             $header-top-link-padding-y $header-top-link-padding-x !default;
$header-top-link-color:               $header-link-color !default;
$header-top-link-hover-color:         $header-link-hover-color !default;
$header-top-link-active-color:        $header-link-active-color !default;
$header-top-link-hover-border-width:  2px !default;
$header-top-link-hover-border-color:  $header-top-link-hover-color !default;
$header-top-link-active-border-color: $header-top-link-active-color !default;

// Navbar.

// Brand and logo.

// When logo is img SVG element with not properly defined dimensions you
// can use width to better control initial logo dimensions. By default this is
// set to `auto` so image dimensions are used or navbar region responsive width.
// You probably don't want to change this a lot but instead use
// $navbar-brand-responsive-widths map set.
// Should we DEPRECIATED this then?
// One reason for this to stay is a case when there is site name or site slogan
// rendered in navbar brand. But this will anyway require then custom theming
// or much stronger out of the box responsive support for a logo inside of a
// brand region.
$brand-logo-width: auto !default;
// Max allowed logo dimensions.
// DEPRECIATED $brand-logo-max-width, instead use
// $navbar-brand-responsive-widths map set.
$brand-logo-max-width: 350px !default;
$brand-logo-max-height: 100px !default;

// Path color of a SVG logo version.
$brand-logo-svg-color:        $body-color !default;
$brand-logo-hover-svg-color:  false !default;

// Limit navbar brand region max width.
// DEPRECIATED $navbar-brand-max-width, instead use
// $navbar-brand-responsive-widths map set.
$navbar-brand-max-width:        75% !default;
// Navbar brand responsive widths.
$navbar-brand-responsive-widths: () !default;
@if ($navbar-brand-responsive-widths) {
  $navbar-brand-responsive-widths: bs-map-merge((
    xs: $navbar-brand-max-width,
    $responsive-break: $brand-logo-max-width,
  ), $navbar-brand-responsive-widths);
}


$navbar-brand-vertical-margins: () !default;
@if ($navbar-brand-vertical-margins) {
  $navbar-brand-vertical-margins: bs-map-merge(
      (
        xs: (
          'top': $spacer,
          'bottom': $spacer,
        ),
        $responsive-break: (
          'top': $spacer/2,
          'bottom': $spacer/2,
        )
      ), $navbar-brand-vertical-margins
  );
}

// Nabvar off-canvas support.
$navbar-offcanvas-fixed:              1030 !default;
$navbar-offcanvas-width:              300px !default;
$navbar-offcanvas-margin-vertical:    (0.5 * $font-size-base) !default;
$navbar-offcanvas-bg-color:           $header-bg !default;
$navbar-offcanvas-border-color:       $header-border-color !default;
$navbar-offcanvas-color:              $header-color !default;
$navbar-offcanvas-link-color:         $header-link-color !default;
$navbar-offcanvas-link-hover-color:   $header-link-hover-color !default;
$navbar-offcanvas-link-hover-bg:      $header-link-hover-bg !default;
$navbar-offcanvas-link-active-color:  $navbar-offcanvas-link-hover-color !default;
$navbar-offcanvas-link-active-bg:     $navbar-offcanvas-link-hover-bg !default;
$navbar-offcanvas-btn-color:          $navbar-offcanvas-color !default;
$navbar-offcanvas-btn-color-bg:       transparent !default;

$navbar-border-bottom-width:  1px !default;
$navbar-border-bottom:        $navbar-border-bottom-width solid $header-border-color !default;
// Lets define again toggler icon so we can change the icon.
// @todo - this is a bit messy, problem is that we are defining header-* vars
// and Bootstrap is defining them as navbar-*. If we wan't to keep header-* vars
// we should override all relative navbar-* vars.
$navbar-toggler-color:              $header-link-color !default;
$navbar-toggler-bg-color:           false !default;
$navbar-toggler-hover-color:        false !default;
$navbar-toggler-border-color:       $navbar-toggler-color !default;
$navbar-toggler-border-hover-color: false !default;
$navbar-toggler-icon-bg:            url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#{$navbar-toggler-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-toggler-close-icon-bg:      false !default;
$navbar-toggler-icon-bg-light:      url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#{$white}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-toggler-icon-hover-bg:      false !default;
// Horizontal second level vars.
$navbar-2nd-bg:                       $header-bg !default;
// $navbar-2nd-border-bottom-width value need to be value with proper - meaning
// that if you don't use bottom border leave 0px as a value here.
$navbar-2nd-border-bottom-width:      0px !default;
$navbar-2nd-border-bottom:            $navbar-2nd-border-bottom-width solid $header-border-color !default;
$navbar-2nd-link-padding-y:           .75rem !default;
$navbar-2nd-link-padding-x:           .75rem !default;
$navbar-2nd-font-size:                1rem !default;
$navbar-2nd-link-hover-border-height: 2px !default;
// $navbar-second-level-height is calculated in
// bs_bootstrap/sass/components/partials/_navbar-second-level-horizontal.scss.
// Here we are just noting that it exist and it can be disabled or overrided
// when needed. Use false when you don't want additional padding injected.
//$navbar-second-level-height: false !default;
// Control the bottom distance type - padding or margin. Both have theirs
// cons and pros (with padding you can have different background color for 2nd
// level menu; with margin you can benefit from margin collapsing).
// Added quickly to offer more control for 2nd level horizontal type.
// @todo - this probably needs a better approach?
$navbar-second-level-distance-type: 'padding' !default;

// Small navbar vars used for small screens.
$navbar-small-dropdown-menu-padding:    0 0 0 2*$spacer !default;
$navbar-small-dropdown-menu-bg:         transparent !default;
$navbar-small-dropdown-menu-hover-bg:   transparent !default;
$navbar-small-dropdown-menu-active-bg:  transparent !default;
$navbar-small-dropdown-link-padding-x:  0.5rem !default;
$navbar-small-dropdown-link-padding-y:  0.5rem !default;
// DEPRECIATED - use x/y combination from above instead.
$navbar-small-dropdown-link-padding:    $navbar-small-dropdown-link-padding-y $navbar-small-dropdown-link-padding-x !default;

// Dropdown
$dropdown-link-color:       $link-color !default;
$dropdown-link-hover-color: $link-hover-color !default;

// Footer region.
$footer-spacer-y:           2 * $spacer !default;
$footer-bg:                 $gray-lighter !default;
$footer-border:             false !default;
$footer-color:              $body-color !default;
$footer-heading-color:      $footer-color !default;
$footer-font-size:          $font-size-sm !default;
$footer-link-color:         map-get($theme-colors, 'primary') !default;
$footer-link-hover-color:   darken($footer-link-color, $hover-amount) !default;
$footer-link-hover-text-decoration:   false !default;
$footer-link-active-color:            $footer-link-hover-color !default;
$footer-block-title-font-size:        false !default;
$footer-block-title-margin-bottom:    false !default;
$footer-nav-link-hover-border-width:  $nav-link-hover-border-width !default;
$footer-nav-link-hover-border-color:  $footer-link-hover-color !default;
$footer-nav-link-active-border-color: $footer-link-active-color !default;

// Footer copyright region.
$footer-copyright-spacer-y:           $spacer !default;
$footer-copyright-bg:                 darken($footer-bg, 10%) !default;
$footer-copyright-color:              $footer-color !default;
$footer-copyright-border:             false !default;
$footer-copyright-link-color:         $footer-link-color !default;
$footer-copyright-link-hover-color:   $footer-link-hover-color !default;
$footer-copyright-link-active-color:  $footer-link-active-color !default;
$footer-copyright-justify-content:    inherit !default;

// Box shadows. Use it for items, cards, teasers, etc.
// Values taken from material design example on
// https://codepen.io/sdthornton/pen/wBZdXq.
$content-box-border:              none !default;
$content-box-border-radius:       2px !default;
$content-box-shadow-transition:   all 0.3s cubic-bezier(.25, .8, .25, 1) !default;
$content-box-shadow: (
  1: (0: 0 1px 3px rgba($black, 0.12), 1: 0 1px 2px rgba($black, 0.24)),
  2: (0: 0 3px 6px rgba($black, 0.16), 1: 0 3px 6px rgba($black, 0.23)),
  3: (0: 0 10px 20px rgba($black, 0.19), 1: 0 6px 6px rgba($black, 0.23)),
  4: (0: 0 14px 28px rgba($black, 0.25), 1: 0 10px 10px rgba($black, 0.22)),
  5: (0: 0 19px 38px rgba($black, 0.30), 1: 0 15px 12px rgba($black, 0.22))
) !default;

$node-preview-container-bg:         lighten($gray-lighter, 5%) !default;
$node-preview-container-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333) !default;
