// Apply content box style.
@mixin content-box() {
  // Apply border radius to images.
  overflow: hidden;
  border: $content-box-border;
  @if $enable-rounded {
    border-radius: $content-box-border-radius;
  }
}

// Apply content box shadow style.
@mixin content-box-shadow($level: 1, $shadow-color: $content-box-shadow) {
  @if $enable-box-shadow and $level > 0 {
    $selected-box-shadow: map-get($shadow-color, $level);
    box-shadow: map-get($selected-box-shadow, 0), map-get($selected-box-shadow, 1);
    @if $enable-transitions {
      transition: $transition-base;
    }
  }
}

// Apply content box shadow hover style.
// Can be used alone also without content-box-shadow().
@mixin content-box-shadow-hover($level-hover: 2, $shadow-color: $content-box-shadow) {
  @if $enable-box-shadow-hover and $level-hover > 0 {
    transition: $content-box-shadow-transition;

    &:hover, &:focus {
      // In order to be able to use hover shadow independently of
      // content-box-shadow() callback we will generate all rules as for box
      // shadow.
      @include content-box-shadow($level: $level-hover, $shadow-color: $shadow-color);
    }
  }
}

@mixin link-hover-focus-active($class-active: '.is-active') {
  @if $class-active {
    &#{$class-active},
    &:hover,
    &:focus {
      @content;
    }
  }
  @else {
    &:hover,
    &:focus {
      @content;
    }
  }
}

// Underline effect suitable for links in navigation menu or in general.
@mixin link-hover-active-line-effect($height, $color-hover, $color-active, $class-active: '.is-active', $padding-x: $nav-link-padding-x) {
  --bsb-nav-link-hover-border-color: #{$color-hover};
  --bsb-nav-link-active-border-color: #{$color-active};
  position: relative;

  // We are using before here and not after because dropdown-toggle from
  // Bootstrap is using after pseudo element.
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: $padding-x;
    bottom: 0;
    left: $padding-x;
    height: 0;
    opacity: 0.3;

    @if $enable-transitions {
      transition: $transition-base;
    }
  }

  @include hover-focus {
    &::after {
      height: $height;
      opacity: 1;
    }
  }

  @if $class-active {
    &#{$class-active} {
      &::after {
        height: $height;
        opacity: 1;
      }
    }
  }
}
