@mixin heading($font-size) {
  margin-top: $headings-margin-top-factor * $font-size;
  margin-bottom: $headings-margin-bottom-factor * $font-size;
  color: var(--#{$prefix}heading-color);
  font-size: $font-size;
  @if $headings-letter-spacing {
    letter-spacing: $headings-letter-spacing;
  }
  line-height: $headings-line-height;
}
