{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set item_class = 'breadcrumb__item' %}
{% block breadcrumb %}
  {%- if breadcrumb -%}
    <nav aria-label="{{ 'Breadcrumb'|t }}">
      <ol class="breadcrumb">
        {%- for item in breadcrumb -%}
          <li class="{{ item_class }} {{ not item.url ? 'active' }}">
            {%- if item.url -%}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {%- else -%}
              {{ item.text }}
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ol>
    </nav>
  {%- endif -%}
{% endblock %}
