// Dynamic include works only in Sass 3.5, but node sass is still on 3.4.
//
// So to overwrite icon implementation for now define mixin with the same name
// bs-icon, define your rules there and include it after this.
//
// @see https://github.com/sass/libsass/issues/849#issuecomment-220933150

// There are no dynamic import support for now in Sass (until version 4
// probably) so we need to hard code this imports here.
@import "font-awesome/scss/variables";
@import "font-awesome/scss/mixins";

@mixin bs-icon-font() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: $bs-icon-font-family !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
}

// Helper for attaching font awesome icon to element in pseudo before element.
// $icon-content font awesome icon character.
// $icon-space inner space between icon and the label - useful for menu items.
@mixin bs-icon($icon-content: false, $icon-space: $btn-icon-gap, $icon-position: 'before', $responsive_label: true) {
  @if $icon-content {
    @include bs-icon-var($icon-content, $icon-position);
  }

  &::#{$icon-position} {
    @if $bs-icon-use {
      @include bs-icon-font();
    }
    @else {
      @include fa-icon();
    }
  }

  // btn-icon class assumes that label already exist and this is a reason we
  // don't do check for $icon-content in if also so we keep this part of the
  // rule flexible.
  @if ($icon-space) {
    $padding-place: if($icon-position == 'before', 'right', 'left');
    &::#{$icon-position} {
      padding-#{$padding-place}: $icon-space;
    }

    @if $responsive_label {
      &.label-only-size-big {
        @include media-responsive-breakpoint-down() {
          &::#{$icon-position} {
            padding-#{$padding-place}: 0;
          }
        }
      }

      &.hide-label {
        &::#{$icon-position} {
          padding-#{$padding-place}: 0;
        }
      }
    }
  }
}

@mixin bs-icon-var($icon-content, $icon-position: 'before') {
  &::#{$icon-position} {
    content: $icon-content;
  }
}
