// Function to create an optimized svg url.
// Depreciated, use Bootstrap escape-svg() instead.
// @TODO remove in 2.x
@function svg-url($svg) {
  @warn "Function svg-url is depreciated and will be removed in 2.x version. Please use Bootstrap escape-svg instead.";
  @return escape-svg($svg);
}

// Background svg mixin.
@mixin background-svg($svg) {
  @warn "Function background-svg is depreciated and will be removed in 2.x version. Please use url(escape-svg($svg)) instead.";
  background-image: url(escape-svg($svg));
}
