// Reset menu dropdown items styles so it look as a proper dropdown menu and
// not as horizontal or small screen navigation.
@mixin clean-dropdown-menu() {
  margin-top: 0;

  .nav-link {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;

    @include hover-focus() {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
    }

    &.is-active {
      background-color: $dropdown-link-active-bg;
      color: $dropdown-link-active-color;
    }

    &::before {
      // Don't use hover effect from link-hover-active-line-effect().
      display: none;
    }
  }
}

// Style a link.
// TODO for 2.x version this mixin should probably be removed. Color part should
// go to callers which should just adjust CSS vars. Text decoration was here
// just so support style-nav-link() and now that part is moved there.
@mixin style-link($color, $hover-color, $active-color: $hover-color, $text-decoration: $link-decoration, $text-hover-decoration: $link-hover-decoration, $link-disabled-color: $nav-link-disabled-color) {
  --#{$prefix}link-color: #{$color};
  --#{$prefix}link-hover-color: #{$hover-color};
  --bsb-link-active-color: #{$active-color};
  --bsb-link-disabled-color: #{$link-disabled-color};

  @if $text-decoration {
    text-decoration: $text-decoration;
  }

  @include hover-focus() {
    --#{$prefix}link-color: var(--#{$prefix}link-hover-color);

    @if $text-hover-decoration {
      text-decoration: $text-hover-decoration;
    }
  }

  // We don't have always active class so lets use them both for now unit
  // we figure can we fix this with just one class @todo.
  &.is-active,
  &.active {
    --#{$prefix}link-color: var(--bsb-link-active-color);

    @if $text-hover-decoration {
      text-decoration: $text-hover-decoration;
    }
  }

  @if $link-disabled-color {
    &.disabled {
      --#{$prefix}link-color: var(--bsb-link-disabled-color);
    }
  }
}

// Style a menu navigation link.
@mixin style-nav-link($color, $hover-color, $active-color: $hover-color, $text-decoration: $link-decoration, $text-hover-decoration: $nav-link-hover-text-decoration, $link-hover-border-width: $nav-link-hover-border-width, $link-hover-border-color: $nav-link-hover-border-color, $link-active-border-color: $nav-link-active-border-color, $link-disabled-color: $nav-link-disabled-color) {

  // If $link-hover-border-width is defined this means we are using border
  // bottom hover animation and not simple text-decoration underline.
  //@include style-link($color, $hover-color, $active-color: $hover-color, $text-decoration: if($link-hover-border-width, false, $text-decoration), $text-hover-decoration: if($link-hover-border-width, false, $text-hover-decoration));

  --#{$prefix}nav-link-color: #{$color};
  --#{$prefix}nav-link-hover-color: #{$hover-color};
  --#{$prefix}nav-link-disabled-color: #{$link-disabled-color};
  @if $link-hover-border-width {
    --bsb-nav-link-hover-border-color: #{$link-hover-border-color};
  }
  --bsb-nav-link-active-color: #{$active-color};
  @if $link-hover-border-width and $link-active-border-color {
    --bsb-nav-link-active-border-color: #{$link-active-border-color};
  }

  @if $text-decoration {
    text-decoration: $text-decoration;
  }

  @include hover-focus() {
    @if $text-hover-decoration {
      text-decoration: $text-hover-decoration;
    }
  }

  &.is-active,
  &.active {
    @if $text-hover-decoration {
      text-decoration: $text-hover-decoration;
    }
  }
}

// This is exactly the same as BS button-variant(), the only difference is that
// we do not like how BS calculates active colors so we provide our owns, the
// rest of the code is the same + the addition of shadow on hover.
@mixin bs-button-variant($color, $bg-color, $border-color, $active-color, $active-bg-color, $active-border-color, $hover-color: $active-color, $hover-bg-color: $active-bg-color, $hover-border-color: $active-border-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
  @if $enable-shadows and $btn-box-shadow {
    @include box-shadow($btn-box-shadow);
  }

  @include hover() {
    color: $hover-color;
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
    // Avoid using mixin so we can pass custom focus shadow properly.
    @if $enable-shadows and $btn-active-box-shadow {
      @include box-shadow($btn-active-box-shadow);
    }
  }

  // Disabled comes first so active can properly restyle.
  &.disabled,
  &:disabled {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled).is-active, // Drupal active class.
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-bg-color;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border-color;

    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows and $btn-active-box-shadow {
      box-shadow: $btn-active-box-shadow, 0 0 0 $input-btn-focus-width rgba($border-color, .5);
    } @elseif $input-btn-focus-width {
      box-shadow: 0 0 0 $input-btn-focus-width rgba($border-color, .5);
    }
  }
}

// Helper function that returns autofill box shadow value.
@function bs-input-autofill-box-shadow($color) {
  @return  inset 0 0 0 1000px $color;
}

// Set input background color and text color for autofill state.
@mixin bs-input-autofill-fix($bg, $color: null) {
  // Many web browsers use !important for :autofill elements for
  // background-color which means we can not override this. This is the reason
  // we will use box-shadow to override element bg color.
  // @sse https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill
  // Inspiration for bg color reset with a shadow taken from
  // https://stackoverflow.com/a/33688072.
  &:-webkit-autofill {
    // Override Chrome important background color hack with a shadow.
    box-shadow: bs-input-autofill-box-shadow($bg);
    // Override Chrome important text color hack.
    @if $color {
      -webkit-text-fill-color: $color;
    }

    // When element is in focus we need to maintain outer box shadow focus
    // style.
    &:focus {
      box-shadow: bs-input-autofill-box-shadow($bg), $input-focus-box-shadow;
      @if $color {
        -webkit-text-fill-color: $color;
      }
    }
  }
}

// Responsive break maximum width.
@mixin media-responsive-breakpoint-down($break: $responsive-break) {
  // If breakpoint is the largest one we will just print the rules without @media
  @if breakpoint-max($break, $breakpoints: $grid-breakpoints) == null {
    @content;
  }
  @else {
    @media (max-width: map-get($grid-breakpoints, $break) - 1px) {
      @content;
    }
  }
}

// Responsive break minimum width.
@mixin media-responsive-breakpoint-up() {
  @media (min-width: map-get($grid-breakpoints, $responsive-break)) {
    @content;
  }
}
