// BS Bootstrap theme variables and overrides.


// Typography.

$font-size-h1: (38/18)*1rem !default; // ~ 2.1rem
$font-size-h2: (28/18)*1rem !default; // ~ 1.6rem
$font-size-h3: (21/18)*1rem !default; // ~ 2.1rem
$font-size-h4: (19/18)*1rem !default; // ~ 1.2rem
$font-size-h5: 1rem !default;
$font-size-h6: 1rem !default;

$line-height-base: 1.5 !default;


// Components

// BS5 CSS vars prefix.
$prefix: bs- !default;

$btn-link-disabled-color: $disabled-color !default;

$border-width: 1px !default;

$dropdown-link-disabled-color: $disabled-color !default;

$list-group-disabled-color: $disabled-color !default;

$pagination-disabled-color: $disabled-color !default;

$paragraph-margin-bottom: $content-spacer !default;

// Navs
$nav-link-disabled-color:   $disabled-color !default;
$nav-link-padding-y:        .5rem !default;
// @todo - this one does not work because of hardcoded .navbar-nav .nav-link
// left and right padding. Should we use important then here?
$nav-link-padding-x:        1rem !default;

// Navbar
$navbar-padding-y:          0 !default;
$navbar-padding-x:          $header-grid-gutter-width/2 !default;
$navbar-brand-padding-y:    0 !default;
$navbar-toggler-padding-y: .2rem !default;
$navbar-toggler-padding-x: .4rem !default;

// Breadcrumbs
$breadcrumb-padding-x:          0 !default;
$breadcrumb-bg:                 transparent !default;

// Alerts
$alert-margin-bottom: $spacer-y !default;

// Forms
$input-btn-border-width:    $border-width !default;
$input-btn-padding-y:       $spacer-y/2 !default;
$input-btn-padding-x:       $spacer-x !default;
$input-btn-line-height:     $line-height-base !default;
$input-border-width:        $input-btn-border-width !default;
$input-bg:                  $white !default;
$input-color:               $body-color !default;
$input-border-radius:       $border-radius !default;
$input-height-border:       $input-border-width * 2 !default;
$input-line-height:         $input-btn-line-height !default;
$input-padding-x:           $input-btn-padding-x !default;
$input-padding-y:           $input-btn-padding-y !default;
// Control input autofill background color. Set it to false to disable
// overriding of default browser behavior.
$input-autofill-bg:         $input-bg !default;

$form-text-line-height:     1.3 !default;
$form-text-margin-top:      .3rem !default;
$form-inline-group-gutter:  2*$spacer !default;

// Tables
$responsive-break-table: md !default;

// Custom checkbox/radio and select controls should look the same like other
// input elements.
$custom-control-indicator-bg:         $input-bg !default;
$custom-control-label-disabled-color: $disabled-color !default;
$custom-select-bg:                    $input-bg !default;
$custom-select-border-radius:         $input-border-radius !default;
$custom-select-disabled-color:        $disabled-color !default;

// Removes custom file upload button text, we use the translated values from
// the twig template.
$custom-file-text: () !default;

// Icons.
// Enable theme icons.
$bs-icon-use:          true !default;
// Use font hash when you need to cache bust previous font.
// If you are using font preloading for icons font do not forget to add the same
// cache in font preloading definition, for example if your hash is '123' then
// for preloading you need to add '?v=123' like 'fonts/icons.woff2?v=123'.
$bs-icon-font-hash:    false !default;
// Do not change icons font name or font preloader will fail.
$bs-icon-font-src:     url("../../fonts/icons.woff2#{if($bs-icon-font-hash, '?v='+$bs-icon-font-hash, '')}") format("woff2") !default;
$bs-icon-font-family:  'BS Icons' !default;
$bs-icon-class:        'fa' !default;
// Additional icon shims.
$bs-icon-shims: () !default;
$bs-icon-shims: bs-map-merge((
  fa-close: fa-xmark,
), $bs-icon-shims);
