// Expand page vertically so for pages that are smaller then viewport height
// we can position footer to the bottom.
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Handle off canvas wrapper when it exist on the page.
.dialog-off-canvas-main-canvas {
  flex: auto;
  display: flex;
  flex-direction: column;
}

// Expand main element - this will push footer to the bottom of the viewport
// if there is space for it.
.page__main {
  flex: auto;
}
