{% extends "@captcha/captcha.html.twig" %}
{% block captcha_display %}
  {% if title is not empty %}
    <details {{ attributes.addClass(classes).addClass('form-group', 'form-item') }} open>
    <summary class="captcha__title js-form-required form-required">{{ title }}<span class="form-required-mark"></span></summary>
    <div class="details-wrapper">
  {% else %}
    <div {{ attributes.addClass(classes).addClass('form-group', 'form-item') }}>
  {% endif %}
  <div class="captcha__element">
    {{ element }}
  </div>
  {% if description is not empty %}
    <div class="captcha__description description">{{ description }}</div>
  {% endif %}
  {% if title is not empty %}
    </div>
    </details>
  {% else %}
    </div>
  {% endif %}
{% endblock %}
