{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{# Cover the case when field_group formatter is used. In the case of 'Mark group
   as required' if group has required fields field_group will add required-fields
   class. For this case we will set required flag to true. #}
{% if attributes.hasClass('required-fields') %}
  {% set required = true %}
{% endif %}
<details{{ attributes.addClass('form-group') }}>
  {%- if title -%}
    {%
      set summary_classes = [
        required ? 'js-form-required',
        required ? 'form-required',
      ]
    %}
    <summary{{ summary_attributes.addClass(summary_classes) }}>{{ title }}{% if required %}<span class="form-required-mark"></span>{% endif %}</summary>
  {%- endif -%}
  <div class="details-wrapper">
    {% if errors %}
      <div class="invalid-feedback">
        {{ errors }}
      </div>
    {% endif %}
    {%- if description -%}
      <div class="details-description">{{ description }}</div>
    {%- endif -%}
    {%- if children -%}
      {{ children }}
    {%- endif -%}
    {%- if value -%}
      {{ value }}
    {%- endif -%}
  </div>
</details>
