{#
/**
 * @file
 * Default theme implementation to display a multi file form widget.
 *
 * Available variables:
 * - table: Table of previously uploaded files.
 * - element: The form element for uploading another file.
 *
 * @see template_preprocess_file_widget_multiple()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('bs_lib/messages') }}
{{ table }}
{{ element }}
