{#
/**
 * @file
 * Theme override to display help text for file fields.
 *
 * Available variables:
 * - descriptions: Lines of help text for uploading a file.
 *
 * @see template_preprocess_file_upload_help()
 */
#}
{# Puting each line in new is taking too much vertical space. Also lines are
   usually short so it just looks bad most of the time. Lets try to put
   everything in one line. #}
{{ descriptions|safe_join(' ') }}
