{#
/**
 * @file
 * Theme override implementation for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
    element['#form_type'] in ['checkbox', 'radio'] ? (element['#custom_forms'] ? 'custom-control-label' : 'form-check-label'),
  ]
%}
{% block label %}
  {% if title is not empty or required -%}
    <label{{ attributes.addClass(classes) }}>{{ title }}{% if required %}<span class="form-required-mark"></span>{% endif %}</label>
  {%- endif %}
{% endblock label %}
