{% extends "input.html.twig" %}
{#
/**
 * @file
 * Theme override for file #type form element.
 */
#}
{% block input -%}
  {% if custom_forms -%}
    <div class="custom-file">
      <input{{ attributes.addClass('custom-file-input') }} />{{ children }}
      <label data-browse="{{ 'Browse'|t }}" class="custom-file-label" for="{{ attributes.offsetGet('id') }}">{{ custom_file_label }}</label>
    </div>
  {%- else -%}
    {#- Same as input.html.twig -#}
    {{ parent() }}
  {%- endif %}
{%- endblock %}
