{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - url: URL that points to home/front page.
 *
 * @ingroup themeable
 */
#}
{% do attributes.addClass(['navbar-brand']) %}
{% if site_logo_svg %}
  {% do attributes.addClass(['block-logo-svg']) %}
{% endif %}
{% block content %}
  {% if site_logo -%}
    <a href="{{ url }}" class="site-logo-link{{ site_logo_svg ? ' site-logo-link--svg' }}" title="{{ 'Back to home'|t }}" aria-label="{{ 'Back to home'|t }}">
      {%- if site_logo_svg -%}
        {{- site_logo_svg|raw -}}
      {%- else -%}
        <img src="{{ site_logo }}" {{ logo_attributes }} />
      {%- endif -%}
    </a>
  {%- endif %}
  {% if site_name -%}
    <a href="{{ url }}" title="{{ 'Back to home'|t }}" class="site-name">{{ site_name }}</a>
  {%- endif %}
  {% if site_slogan -%}
    <div class="site-slogan">{{ site_slogan }}</div>
  {%- endif %}
{% endblock %}
