.field {
    &--label-inline {
      @include media-breakpoint-up($field-label-inline-breakpoint) {
        display: flex;
        // Make sure that label is aligned nicely with items. This works OK for
        // basic cases like tags, categories, text fields or areas where label text
        // will be baseline aligned with top text row.
        // But this can also work OK for media examples - in this case label will be
        // vertically centered with media which most of the times looks better then
        // top aligned.
        align-items: baseline;

        .field__label {
          padding-right: $field-label-padding;

          @if $field-label-after-char {
            &::after {
              content: $field-label-after-char;
            }
          }
        }
      }
    }

  @if $field-label-font-weight {
    &__label {
      font-weight: $field-label-font-weight;
    }
  }
}
