.table {
  th {
    background-color: $table-head-bg;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;

    .label {
      display: inline-block;
    }
  }

  tbody tr {
    @include hover() {
      background-color: $table-bg-hover;
    }
  }
}
