.node {
  &-preview {
    &-container {
      background-color: $node-preview-container-bg;
      @if $enable-box-shadow {
        box-shadow: $node-preview-container-box-shadow;
      }

      .form-select {
        display: inline-block;
        width: auto;
      }

      .form-item {
        margin-bottom: 0;
      }

      body:not(.toolbar-fixed) & {
        // Position preview bar for normal users.
        top: 0;
      }

      & ~ .page__header {
          margin-top: 3.5 * $spacer;
      }
    }

    &-backlink {
      order: 1;
      padding-left: $spacer;
    }
  }
}
