a.tabledrag-handle {
  // Fix positioning of table drag handle element.
  .handle {
    margin-top: 0.3em;
    background-position: center;
  }
}

tr.drag-previous {
  background: theme-color-level('warning', $alert-bg-level);
}

// Drupal core responsive tables support.
td,
th {
  &.priority {
    &-low,
    &-medium {
      display: none;
    }

    // Medium priority we do not show only for very small screens.
    @include media-breakpoint-up(sm) {
      &-medium {
        display: table-cell;
      }
    }

    // Low priority is not that important and we show it on bigger screens only.
    @include media-breakpoint-up($responsive-break) {
      &-low {
        display: table-cell;
      }
    }
  }
}
