// Switch vertical tabs from float to flex model so we don't need a clearfix.
.vertical-tabs {
  display: flex;
  margin-left: 0;

  &__menu {
    // Width is taken from core CSS don't overwrite it here with flex-base.
    flex: 0 0 auto;
    margin-left: -1px;

    &-item-summary {
      font-size: $font-size-sm;
    }
  }
}
