.comment:not(:last-child) {
  margin-bottom: 2rem;
}

.comment__meta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
}

.comment__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.comment + .indented {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
