.field__label {
  font-weight: bold;
}@media (min-width: 576px) {
  .field--label-inline {
    display: flex;
    align-items: baseline;
  }
  .field--label-inline .field__label {
    padding-right: 1ch;
  }
  .field--label-inline .field__label::after {
    content: ":";
  }
}
