label,
.custom-control-label {
  color: #6c757d;
}

.form-composite .field-prefix .description {
  margin-bottom: 0.5rem;
}

.form-checkbox:checked ~ label, .form-radio:checked ~ label {
  color: #343a40;
}

.option ~ .description {
  padding-left: 0;
}

.form-group--floating-label .form-control:not(:placeholder-shown) ~ label, .form-group--floating-label .form-control:not([placeholder=' ']) ~ label, .form-group--floating-label .form-control:-webkit-autofill ~ label, .form-group--floating-label .form-control:focus ~ label, .form-group--floating-label .form-select ~ label {
  top: 1px;
  font-size: 0.84375rem;
  line-height: 1.16667;
}

.form-group--floating-label .form-control:not(:placeholder-shown) ~ label .webform-element-help, .form-group--floating-label .form-control:not([placeholder=' ']) ~ label .webform-element-help, .form-group--floating-label .form-control:-webkit-autofill ~ label .webform-element-help, .form-group--floating-label .form-control:focus ~ label .webform-element-help, .form-group--floating-label .form-select ~ label .webform-element-help {
  width: 11px;
  height: 11px;
  font-size: 11px;
  line-height: 13px;
}

.form-group--floating-label .form-control[disabled]:not(:placeholder-shown) ~ label, .form-group--floating-label .form-control[disabled]:not([placeholder=' ']) ~ label, .form-group--floating-label .form-control[disabled]:-webkit-autofill ~ label, .form-group--floating-label .form-control[disabled]:focus ~ label, .form-group--floating-label .form-select[disabled] ~ label {
  background-color: transparent;
}

.form--floating-labels label {
  font-size: 1.125rem;
}

.form--floating-labels label .webform-element-help {
  pointer-events: initial;
}

.form--floating-labels .custom-control-label {
  font-size: 1.125rem;
}

.form--floating-labels .custom-control-label::before, .form--floating-labels .custom-control-label::after {
  top: 50%;
  transform: translateY(-50%);
}

.form--floating-labels .form-checkboxes .form-group:not(:last-child),
.form--floating-labels .form-radios .form-group:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form--floating-labels .form-checkboxes .form-group .description,
.form--floating-labels .form-radios .form-group .description {
  margin-top: 0;
  padding-left: 0;
}

.form--floating-labels .form-type-checkbox .description {
  margin-top: 0;
  padding-left: 0;
}

.form--floating-labels .description,
.form--floating-labels .password-strength__title,
.form--floating-labels .password-confirm-message {
  padding-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.125rem;
}

.form--floating-labels .input-group-label {
  position: relative;
}

.form--floating-labels .form-control:not(textarea),
.form--floating-labels .form-select {
  height: calc(2px + 3.50521rem);
}

.form--floating-labels .form-group--muted-legend legend {
  margin-bottom: 0.5rem;
  color: #6c757d;
  font-size: 0.9rem;
}

.form-group--floating-label .form-control ~ label,
.form-group--floating-label .form-select ~ label {
  position: absolute;
  left: calc(1px + 0.5rem);
  margin-bottom: 0;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  cursor: text;
  transition: top, 0.1s ease-in-out, font-size 0.1s ease-in-out, line-height 0.1s ease-in-out;
}

.form-group--floating-label .form-control ~ label {
  top: calc(1px + 0.65885rem);
}

.form-group--floating-label .form-control {
  transition: background-color 0.1s ease-in-out;
}

.form-group--floating-label .form-control:not(:placeholder-shown), .form-group--floating-label .form-control:not([placeholder=' ']), .form-group--floating-label .form-control:-webkit-autofill, .form-group--floating-label .form-control:focus {
  padding-top: 1.48438rem;
  padding-bottom: 0.33333rem;
}

.form-group--floating-label .form-control:focus ~ label {
  color: #006fe6;
}

.form-group--floating-label textarea.form-control {
  padding-top: 1.48438rem;
}

.form-group--floating-label textarea.form-control:not(:-moz-placeholder-shown) {
  padding-bottom: 0.5rem;
}

.form-group--floating-label textarea.form-control:not(:placeholder-shown), .form-group--floating-label textarea.form-control:not([placeholder=' ']), .form-group--floating-label textarea.form-control:focus {
  padding-bottom: 0.5rem;
}

.form-group--floating-label textarea.form-control:not(:-moz-placeholder-shown) ~ label {
  padding-top: 0.25rem;
  background-color: #fff;
}

.form-group--floating-label textarea.form-control:not(:placeholder-shown) ~ label, .form-group--floating-label textarea.form-control:not([placeholder=' ']) ~ label, .form-group--floating-label textarea.form-control:focus ~ label {
  padding-top: 0.25rem;
  background-color: #fff;
}

.form-group--floating-label .form-select {
  padding-top: 1.48438rem;
  padding-bottom: 0.33333rem;
  transition: background-color 0.1s ease-in-out;
}

.form-group--floating-label .form-select:focus ~ label {
  color: #006fe6;
}

.form-group--floating-label .input-group .input-group-label:not(:last-child) > .form-control,
.form-group--floating-label .input-group .input-group-label:not(:last-child) > .custom-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-group--floating-label .input-group .input-group-label:not(:first-child) > .form-control,
.form-group--floating-label .input-group .input-group-label:not(:first-child) > .custom-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
