.form--floating-labels--filled .form-control,
.form--floating-labels--filled .form-select {
  background-color: #f2f2f2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.form--floating-labels--filled .form-control:-webkit-autofill,
.form--floating-labels--filled .form-select:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #f2f2f2;
}

.form--floating-labels--filled .form-control:hover,
.form--floating-labels--filled .form-select:hover {
  background-color: #e6e6e6;
  border-color: #bfbfbf;
}

.form--floating-labels--filled .form-control:hover:-webkit-autofill,
.form--floating-labels--filled .form-select:hover:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #e6e6e6;
}

.form--floating-labels--filled .form-control:focus,
.form--floating-labels--filled .form-select:focus {
  padding-bottom: calc(0.5rem - 1px);
  background-color: #d9d9d9;
  border-bottom-width: 2px;
  border-color: #006fe6;
  box-shadow: none;
}

.form--floating-labels--filled .form-control:focus:-webkit-autofill,
.form--floating-labels--filled .form-select:focus:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #d9d9d9;
}

.form--floating-labels--filled .form-group--floating-label .form-control:focus,
.form--floating-labels--filled .form-group--floating-label .form-select:focus {
  padding-bottom: calc(0.33333rem - 1px);
}

.form--floating-labels--filled .form-group--floating-label textarea.form-control:not(:-moz-placeholder-shown) ~ label {
  background-color: #f2f2f2;
}

.form--floating-labels--filled .form-group--floating-label textarea.form-control:not(:placeholder-shown) ~ label, .form--floating-labels--filled .form-group--floating-label textarea.form-control:not([placeholder=' ']) ~ label {
  background-color: #f2f2f2;
}

.form--floating-labels--filled .form-group--floating-label textarea.form-control:hover ~ label {
  background-color: #e6e6e6;
}

.form--floating-labels--filled .form-group--floating-label textarea.form-control:focus {
  margin-bottom: -1px;
  padding-bottom: 0.5rem;
}

.form--floating-labels--filled .form-group--floating-label textarea.form-control:focus ~ label {
  background-color: #d9d9d9;
}
