.form--floating-labels--outlined .form-control,
.form--floating-labels--outlined .form-select {
  background-color: transparent;
}

.form--floating-labels--outlined .form-control:-webkit-autofill,
.form--floating-labels--outlined .form-select:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
  -webkit-text-fill-color: #343a40;
}

.form--floating-labels--outlined .form-control:-webkit-autofill:focus,
.form--floating-labels--outlined .form-select:-webkit-autofill:focus {
  box-shadow: inset 0 0 0 1000px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -webkit-text-fill-color: #343a40;
}

.form--floating-labels--outlined .form-composite > legend {
  margin-bottom: 0.5rem;
}

.form--floating-labels--outlined .form-group--floating-label .description--before ~ .input-group,
.form--floating-labels--outlined .form-group--floating-label .description--before ~ .input-group-label {
  margin-top: 0.74219rem;
}

.form--floating-labels--outlined .form-group--floating-label .form-control ~ label {
  background-color: #fff;
}

.form--floating-labels--outlined .form-group--floating-label .form-control:not(:-moz-placeholder-shown):not(textarea) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form--floating-labels--outlined .form-group--floating-label .form-control:not(:placeholder-shown):not(textarea), .form--floating-labels--outlined .form-group--floating-label .form-control:not([placeholder=' ']):not(textarea), .form--floating-labels--outlined .form-group--floating-label .form-control:focus:not(textarea) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form--floating-labels--outlined .form-group--floating-label .form-control:not(:-moz-placeholder-shown) ~ label {
  transform: translateY(-50%);
}

.form--floating-labels--outlined .form-group--floating-label .form-control:not(:placeholder-shown) ~ label, .form--floating-labels--outlined .form-group--floating-label .form-control:not([placeholder=' ']) ~ label, .form--floating-labels--outlined .form-group--floating-label .form-control:focus ~ label {
  transform: translateY(-50%);
}

.form--floating-labels--outlined .form-group--floating-label textarea.form-control {
  padding-top: 0.90885rem !important;
}

.form--floating-labels--outlined .form-group--floating-label .form-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form--floating-labels--outlined .form-group--floating-label .form-select ~ label {
  transform: translateY(-50%);
  background-color: #fff;
}
