@font-face {
  font-display: block;
  font-family: "BS Icons";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/icons.woff2") format("woff2");
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "BS Icons" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
}

.fa-angle-right::before {
  content: "\f105";
}

.fa-arrow-up::before {
  content: "\f062";
}

.fa-arrow-up-right-from-square::before {
  content: "\f08e";
}

.fa-envelope::before {
  content: "\f0e0";
}

.fa-magnifying-glass::before {
  content: "\f002";
}

.fa-rss::before {
  content: "\f09e";
}

.fa-plus::before {
  content: "\2b";
}

.fa-trash-can::before {
  content: "\f2ed";
}

.fa-xmark::before {
  content: "\f00d";
}

.fa-close::before {
  content: "\f00d";
}
