.navbar .dropdown-menu .nav-link::after {
  display: none;
}@media (min-width: 768px) {
  .navbar {
    align-items: stretch;
  }
  .navbar-collapse {
    align-items: stretch;
  }
  .navbar-nav {
    height: 100%;
  }
  .navbar-nav > .nav-item > .nav-link {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .navbar-nav {
    align-items: flex-end;
  }
  .navbar-collapse {
    align-self: stretch;
    align-items: stretch;
  }
  .navbar-nav {
    height: 100%;
    align-items: stretch;
  }
  .navbar-nav > .nav-item > .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .navbar-nav > .nav-item > .btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-nav > .dropdown > .dropdown-menu {
    margin-top: 0;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link {
    padding: 0.25rem 1.5rem;
    color: #007bff;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link:hover, .navbar-nav > .dropdown > .dropdown-menu .nav-link:focus {
    background-color: #e9ecef;
    color: #006fe6;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link.is-active {
    background-color: #007bff;
    color: #fff;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link::before {
    display: none;
  }
  .navbar-nav > .dropdown > .dropdown-menu .dropdown-toggle::after {
    display: none;
  }
}
