@media (min-width: 768px) {
  .navbar {
    align-items: stretch;
  }
  .navbar-collapse {
    align-items: stretch;
  }
  .navbar-nav {
    height: 100%;
  }
  .navbar-nav > .nav-item > .nav-link {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .navbar-nav {
    align-items: flex-end;
  }
  .navbar-collapse {
    align-self: stretch;
    align-items: stretch;
  }
  .navbar-nav {
    height: 100%;
    align-items: stretch;
  }
  .navbar-nav > .nav-item > .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .navbar-nav > .nav-item > .btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-wrapper {
    transition: all 0.05s;
  }
  .navbar-wrapper.second-level-expanded {
    padding-bottom: calc(3rem + 0px);
    border-bottom: none;
  }
  .navbar-wrapper .navbar-nav {
    position: relative;
  }
  .navbar-wrapper.second-level-expanded::after {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(3rem + 0px);
    content: '';
    z-index: 1;
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-collapse .block-menu {
    position: relative;
  }
  .navbar-nav > .dropdown > .dropdown-toggle::after {
    display: none;
  }
  .navbar-nav > .dropdown.active {
    position: static;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #007bff;
    font-size: 1rem;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu .nav-link:hover, .navbar-nav > .dropdown.active > .dropdown-menu .nav-link:focus {
    background-color: transparent;
    color: #006fe6;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu .nav-link.active, .navbar-nav > .dropdown.active > .dropdown-menu .nav-link:active {
    background-color: transparent;
    color: #006fe6;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu > .dropdown > .dropdown-menu {
    margin-top: 0;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu > .dropdown > .dropdown-menu .nav-link {
    padding: 0.25rem 1.5rem;
    color: #007bff;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu > .dropdown > .dropdown-menu .nav-link:hover, .navbar-nav > .dropdown.active > .dropdown-menu > .dropdown > .dropdown-menu .nav-link:focus {
    background-color: #e9ecef;
    color: #006fe6;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu > .dropdown > .dropdown-menu .nav-link.is-active {
    background-color: #007bff;
    color: #fff;
  }
  .navbar-nav > .dropdown.active > .dropdown-menu > .dropdown > .dropdown-menu .nav-link::before {
    display: none;
  }
}
