// Generate all font definitions.
@each $key, $font in $theme-fonts {
  @font-face {
    font-family: map-get($font, 'font-family');
    @if (map-get($font, 'font-display')) {
      font-display: map-get($font, 'font-display');
    }
    font-style: map-get($font, 'font-style');
    font-weight: map-get($font, 'font-weight');
    src: unquote(map-get($font, 'src'));
    @if (map-has_key($font, 'unicode-range')) {
      unicode-range: unquote(map-get($font, 'unicode-range'));
    }
  }
}
