{% extends "@bs_bootstrap/layout/page.html.twig" %}
{#
/**
 * @file
 * Theme override to display a maintenance page.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
{% block header_nav -%}
  {{ attach_library('bs_bootstrap/maintenance-page') }}
  <div{{ navbar_wrapper_attributes }}>
    <div class="navbar {{ navbar_container_type == 'fluid' ? 'container-fluid' : 'container' }}">
      {% if logo -%}
        <div class="region region-brand">
          <div class="navbar-brand">
            <a href="{{ front_page }}" class="site-logo-link{{ site_logo_svg ? ' site-logo-link--svg' }}" title="{{ 'Back to home'|t }}" aria-label="{{ 'Back to home'|t }}">
              <img src="{{ logo }}" alt="{{ 'Site logo'|t }}"/>
            </a>
          </div>
        </div>
      {%- endif %}
      {% if site_name or site_slogan -%}
        <div class="navbar-collapse region region-navbar">
          {% if site_name -%}
            <h2><a href="{{ front_page }}" title="{{ 'Back to home'|t }}" class="site-name">{{ site_name }}</a></h2>
          {%- endif %}
          {% if site_slogan -%}
            <div>{{ site_slogan }}</div>
          {%- endif %}
        </div>
      {%- endif %}
    </div>
  </div>
{%- endblock %}
{% block content -%}
  <div class="region region-content container">
    {% if title -%}
      <h1>{{ title }}</h1>
    {%- endif %}
    <div class="row {{ maintenance_image_path ? 'maintenance--image'}}">
      <div class="maintenance__text col">
        {{ page.highlighted }}
        <p>
          {{ page.content }}
        </p>
      </div>
      {% if maintenance_image_path -%}
        <div class="maintenance__image col">
          <img src="{{ maintenance_image_path }}" title="{{ 'Site maintenance image'|t }}" />
        </div>
      {%- endif %}
    </div>
  </div>
{%- endblock %}
