{% extends "@bs_base/layout/region.html.twig" %}
{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% block region %}
  {% if navbar_offcanvas_position %}
    {% do attributes.addClass(['navbar-collapse', 'navmenu', 'offcanvas', 'navmenu-fixed-' ~ navbar_offcanvas_position ]) %}
  {% else %}
    {% do attributes.addClass(['collapse', 'navbar-collapse']) %}
  {% endif %}
  {% do attributes.setAttribute('id', 'navbarResponsive') %}
  <div{{ attributes.addClass(classes) }}>
    {# Use block content so child themes can add a wrapper here for more layout
       control, for example for sidebar navigation, etc. #}
    {% block content %}
      {# @TODO - consider adding wrapper here for 2.x version. #}
      {{- content -}}
    {% endblock %}
    {% block offcanvas_close -%}
      {% if navbar_offcanvas_position -%}
        <a href="#" class="offcanvas-close-link btn{{ offcanvas_close_classes }}" title="{{ 'Close navigation'|t }}"><span class="label">{{ 'close'|t }}</span></a>
      {%- endif %}
    {%- endblock %}
  </div>
{% endblock %}
