{% extends "@bs_base/layout/region.html.twig" %}
{#
/**
 * @file
 * Theme override to display a top region.
 */
#}
{% block region %}
  {% do attributes.addClass('row') %}
  {{ parent() }}
{% endblock %}
