// Core is not using JS theme functions to render button links, we can not add
// proper CSS classes in this case so we need to extend CSS rules.
button.link {
  // Using @extend here is a big problem because it can produce hard to figure
  // CSS compilation bugs like
  //
  // .page__header__top .nav-link:not(.dropdown-item):not(.btn):not(button.link)
  //
  // this is for header top nav link. Notice last `:not(button.link)` which is
  // coming because of `@extend .btn;` from here somehow. Totally do not use
  // @extend here, figure something else.
  //@extend .btn;
  //@extend .btn-link;

  // Next CSS is taken from classy/css/components/links.css
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 1em;

  label & {
    font-weight: bold;
  }
}

.btn {
  @if $btn-text-transform {
    text-transform: $btn-text-transform;
  }

  &-neutral {
    @include bs-button-variant($btn-neutral-color, $btn-neutral-bg-color, $btn-neutral-border-color, $btn-neutral-hover-color, $btn-neutral-hover-bg-color, $btn-neutral-hover-border-color);
  }
}
