.comment {
  &:not(:last-child) {
    margin-bottom: $container-spacer-y;
  }

  &__meta {
    display: flex;
    gap: $spacer-y;
    margin-bottom: $spacer-y;
    font-size: $small-font-size;
  }

  &__title {
    margin-top: 0;
    margin-bottom: $spacer-y/2;
  }

  + .indented {
    margin-bottom: $container-spacer-y;
    margin-left: $container-spacer-y;
  }
}
