.contextual-region {
  .contextual {
    .contextual-links {
      // For contextual links our custom rules for header/footer and content
      // can override default Drupal rules which is something we do not want for
      // now.
      // We will use !important here to make sure that rules that can be
      // overriden are preserved.
      a {
        color: #333 !important;
        text-decoration: none !important;

        @include hover-focus() {
          color: #000 !important;
          text-decoration: none !important;
        }
      }
    }
  }
}
