// Images that are embedded into the content over wysiwyg entity embed.
// We want this kind of images to behave like other responsive images.
img[data-entity-type] {
  @include img-fluid;
}

.embedded-entity {
  &.align-left {
    margin-right: $spacer;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    margin-left: $spacer;
  }
}
