.form--floating-labels--outlined {
  // Base rules that are not dependent on .form-group--floating-label CSS class
  // so we support also elements without a label.
  .form-control,
  .form-select {
    background-color: transparent;

    // If input browser autofill is overridden we will override it for outline
    // also and set it to body bg color so it keeps transparent look.
    @if $input-autofill-bg {
      @include bs-input-autofill-fix($body-bg, $input-color);
    }
  }

  .form-composite {
    > legend {
      // Increase legend bottom margin for composite elements so active floating
      // label does not overlaps with legend.
      margin-bottom: $form-group-margin-bottom/2;
    }
  }

  .form-group--floating-label {
    .description--before {
      // When description is before element we need to add additional vertical
      // space between description and active outline floating label so label
      // is not overlaying description.
      ~ .input-group,
        // Case when there is no element prefix or suffix.
      ~ .input-group-label {
        margin-top: $floating-label-active-padding-y + $floating-label-active-line-height * $floating-label-active-font-size / 2;
      }
    }

    .form-control {
      ~ label {
        // Assign a bg color to cover form control border when in active state.
        // This is needed only when in active state (when label is covering
        // top border), however we do it here to simplify CSS rules a bit.
        background-color: $body-bg;
      }

      // By default, floating labels shifts up when the user starts typing.
      &:not(:placeholder-shown),
        // Skip empty placeholders.
      &:not([placeholder=' ']),
        // Enable floating labels to be displayed on input focus.
      &:focus {
        &:not(textarea) {
          padding-top: $input-padding-y;
          padding-bottom: $input-padding-y;
        }

        ~ label {
          transform: translateY(-50%);
        }
      }
    }

    textarea.form-control {
      // We use !important so we don't need to override states with placeholders
      // and focus.
      padding-top: .5*(2*$floating-label-active-padding-y + $floating-label-active-line-height*$floating-label-active-font-size + $floating-label-input-padding-bottom) !important;
    }

    .form-select {
      padding-top: $input-padding-y;
      padding-bottom: $input-padding-y;

      ~ label {
        transform: translateY(-50%);
        background-color: $body-bg;
      }
    }
  }
}
