// More general form layout and color change improvements. We keep it in
// separate scope if we decide to move this code to _forms.scss partial later.
@at-root {
  label,
  .custom-control-label {
    color: $input-placeholder-color;
  }

  .form {
    &-composite {
      // Description is first.
      .field-prefix .description {
        margin-bottom: $spacer-y/2;
      }
    }

    &-checkbox,
    &-radio {
      // Change label color of checked checkbox/radio to visually show it is
      // selected.
      &:checked {
        ~ label {
          color: $input-color;
        }
      }
    }
  }

  .description {
    // For radio/checkbox we need to reset left padding.
    .option ~ & {
      padding-left: 0;
    }
  }
}

%floating-label-active {
  ~ label {
    top: $input-border-width;
    font-size: $floating-label-active-font-size;
    line-height: $floating-label-active-line-height;

    // Webform help tooltip needs a bit of adjustment.
    .webform-element-help {
      // Make tooltip a bit smaller when floating label is active so we do not
      // overflow field inputted text.
      width: 11px;
      height: 11px;
      font-size: 11px;
      line-height: 13px;
    }
  }

  // If element is disabled we should remove label bg color because disabled
  // element have it's own bg color.
  &[disabled] {
    ~ label {
      background-color: transparent;
    }
  }
}

.form--floating-labels {
  // Label form element which does not have any specific class - webform can
  // also generate this kind of element.
  label {
    font-size: $floating-label-font-size;

    .webform-element-help {
      // Webform parent label has pointer events removed but we need them for
      // a tooltip.
      pointer-events: initial;
    }
  }

  // For custom controls center the checkboxes/radio buttons and reduce the
  // label size to be the same as for floating labels.
  .custom-control-label {
    // For custom controls center.
    font-size: $floating-label-font-size;

    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // Improve spacing between checkboxes and radios.
  .form-checkboxes,
  .form-radios {
    .form-group {
      &:not(:last-child) {
        margin-bottom: $form-group-margin-bottom / 2;
      }

      .description {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }

  // Similar to checkboxes reset margin top and padding left for single
  // checkbox.
  .form-type-checkbox {
    .description {
      margin-top: 0;
      padding-left: 0;
    }
  }

  // Description and password confirm message alignment and font adjustments.
  .description,
  .password-strength__title,
  .password-confirm-message {
    // Align the description to the input left padding.
    padding-left: $input-padding-x;
    // Change the description font size to match the active floating labels.
    font-size: $floating-label-description-font-size;
    line-height: $font-size-base;
  }

  .input-group-label {
    position: relative;
  }

  // Apply height to everything except textarea, checkbox and radio.
  .form-control:not(textarea),
  .form-select {
    height: $floating-label-input-height;
  }

  // Separate style for checkboxes/radios, because they are wrapped in a
  // fieldset with a legend, which we make smaller and muted.
  .form-group--muted-legend legend {
    margin-bottom: $form-group-margin-bottom / 2;
    color: $input-placeholder-color;
    font-size: $floating-label-description-font-size;
  }
}

.form-group--floating-label {
  // Apply basic label rules to all elements except checkbox and radio.
  .form-control,
  .form-select {
    ~ label {
      position: absolute;
      // Center the label on input field.
      left: calc(#{$input-border-width} + #{$input-padding-x - $floating-label-active-padding-x});
      // Override default `<label>` margin.
      margin-bottom: 0;
      padding: $floating-label-active-padding-y $floating-label-active-padding-x;
      pointer-events: none;
      // Match the input under the label.
      cursor: text;
      @if $floating-label-transition {
        transition: top, $floating-label-transition, font-size $floating-label-transition, line-height $floating-label-transition;
      }
    }
  }
  // Top we do not apply to form-select because it is in active state label
  // position by default. Also we don't want to use !important flag there for
  // top, which we would need to do if we set it here.
  .form-control {
    ~ label {
      // We can not use here simple top: 50%, transform: translateY(-50%) for
      // centering because this will not work for textarea.
      top: calc(#{$input-border-width} + #{.5*($floating-label-active-line-height*$floating-label-active-font-size + $input-line-height*$input-font-size + $floating-label-input-padding-bottom - $floating-label-font-size*$input-line-height)});
    }
  }

  .form-control {
    @if $floating-label-transition {
      // We will transition just a bg color for now because of bottom border
      // manipulation with filled type - so there is no movement in layout.
      transition: background-color $floating-label-transition;
    }

    // By default, floating labels shifts up when the user starts typing.
    &:not(:placeholder-shown),
    // Skip empty placeholders.
    &:not([placeholder=' ']),
    &:-webkit-autofill,
    // Enable floating labels to be displayed on input focus.
    &:focus {
      @extend %floating-label-active;
      padding-top: $floating-label-input-padding-top;
      padding-bottom: $floating-label-input-padding-bottom;
    }

    @if ($floating-label-focus-color) {
      &:focus {
        ~ label {
          color: $floating-label-focus-color;
        }
      }
    }
  }
  // Textarea needs additional tweaks.
  textarea.form-control {
    padding-top: $floating-label-input-padding-top;

    &:not(:placeholder-shown),
    &:not([placeholder=' ']),
    &:focus {
      // Keep the bottom padding so textarea is not changing it's height.
      padding-bottom: $input-padding-y;

      ~ label {
        padding-top: $floating-label-active-padding-y;
        // Always apply bg color to active label because of textarea with scroll.
        background-color: $body-bg;
      }
    }
  }

  .form-select {
    // Select label is always in active state position because select has a
    // label for empty option most of the time.
    @extend %floating-label-active;
    padding-top: $floating-label-input-padding-top;
    padding-bottom: $floating-label-input-padding-bottom;

    @if $floating-label-transition {
      transition: background-color $floating-label-transition;
    }

    @if ($floating-label-focus-color) {
      &:focus {
        ~ label {
          color: $floating-label-focus-color;
        }
      }
    }
  }

  // Bootstrap resetting for inputs groups is not working because of custom
  // input-group-label wrapper so we are adding our own resetting.
  .input-group .input-group-label {
    &:not(:last-child) {
      > .form-control,
      > .custom-select {
        @include border-right-radius(0);
      }
    }

    &:not(:first-child) {
      > .form-control,
      > .custom-select {
        @include border-left-radius(0);
      }
    }
  }
}
