.form--floating-labels--filled {
  // Base rules that are not dependent on .form-group--floating-label CSS class
  // so we support also elements without a label.
  .form-control,
  .form-select {
    background-color: $floating-label-filled-bg;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-bottom: $input-border-width solid $floating-label-filled-border-color;

    &:-webkit-autofill {
      box-shadow: bs-input-autofill-box-shadow($floating-label-filled-bg);
    }

    &:hover {
      background-color: $floating-label-filled-hover-bg;
      border-color: $floating-label-filled-hover-border-color;
      &:-webkit-autofill {
        box-shadow: bs-input-autofill-box-shadow($floating-label-filled-hover-bg);
      }
    }

    &:focus {
      // Compensate increase of bottom border with padding bottom change so text
      // will not move on focus.
      padding-bottom: calc(#{$input-padding-y} - #{$input-border-width});
      background-color: $floating-label-filled-focus-bg;
      border-bottom-width: 2*$input-border-width;
      border-color: $floating-label-filled-focus-border-color;
      // Current focus effect is good enough and using default shadow focus will
      // be just too much visually.
      box-shadow: none;

      &:-webkit-autofill {
        box-shadow: bs-input-autofill-box-shadow($floating-label-filled-focus-bg);
      }
    }
  }

  .form-group--floating-label {
    .form-control,
    .form-select {
      &:focus {
        // When we have a label bottom padding compensation calculation needs to
        // take that into consideration.
        padding-bottom: calc(#{$floating-label-input-padding-bottom} - #{$input-border-width});
      }
    }

    textarea.form-control {
      &:not(:placeholder-shown),
      &:not([placeholder=' ']) {
        ~ label {
          background-color: $floating-label-filled-bg;
        }
      }

      &:hover {
        ~ label {
          background-color: $floating-label-filled-hover-bg;
        }
      }

      &:focus {
        // Increase of bottom border on focus will cause 1px layout shift which we
        // need to compensate.
        margin-bottom: -$input-border-width;
        // Continue keeping the bottom padding the same so textarea is not
        // changing it's height.
        padding-bottom: $input-padding-y;

        ~ label {
          background-color: $floating-label-filled-focus-bg;
        }
      }
    }
  }
}
