// Floating labels variables and overrides.
// We keep this in separate file and not main variables/_bs_bootstrap.scss
// because we do not want to affect general form rules.

// Improve contrast of placeholder.
$input-placeholder-color:   lighten($body-color, 20%) !default;

$custom-select-indicator-color:       $gray-600 !default;
$custom-select-bg-size:               1rem 1rem !default;
$custom-select-indicator:             str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='#{$custom-select-indicator-color}' d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z'/%3e%3c/svg%3e"), "#", "%23") !default;
$custom-select-indicator-padding:     1.25rem !default;

// Floating labels.
// Label.
$floating-label-font-size:              $input-font-size !default;
$floating-label-active-padding-y:       $spacer-y / 4 !default;
$floating-label-active-padding-x:       $spacer-x / 2 !default;
$floating-label-active-line-height:     7/6 !default;
$floating-label-active-font-size:       .75*$input-font-size !default;
// Focus label color. Set to false to disable it. Also used for filled bottom
// border color if it is set.
$floating-label-focus-color:            darken($input-focus-border-color, 30%) !default;
// Inout field.
$floating-label-input-padding-top:      2*$floating-label-active-padding-y + $floating-label-active-line-height*$floating-label-active-font-size  !default;
$floating-label-input-padding-bottom:   2/3*$input-padding-y !default;
$floating-label-input-height:           calc(#{$input-height-border} + #{2*$floating-label-active-padding-y + $floating-label-active-line-height*$floating-label-active-font-size + $input-line-height * $input-font-size + $floating-label-input-padding-bottom}) !default;
// Description.
$floating-label-description-font-size:  $font-size-sm !default;
// No property defined here for transition because we need to be very specific
// about this in CSS and values are different for label and input field.
$floating-label-transition:             .1s ease-in-out !default;
// Filled type.
$floating-label-filled-bg: darken($input-bg, 5%) !default;
$floating-label-filled-border-color: darken($input-bg, 15%) !default;
$floating-label-filled-hover-bg: darken($input-bg, 10%) !default;
$floating-label-filled-hover-border-color: darken($input-bg, 25%) !default;
$floating-label-filled-focus-bg: darken($input-bg, 15%) !default;
$floating-label-filled-focus-border-color: if($floating-label-focus-color, $floating-label-focus-color, darken($input-bg, 35%)) !default;
