label {
  margin-bottom: $spacer-y / 10;

  // When the table head label is h4 lets make sure that it looks the same as
  // other form labels.
  @at-root .table th .label {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
  }

  td.checkbox & {
    // Fix bad positioning when checkbox is in table.
    display: block;
  }
}

.form {
  // We have a span element for form required mark because we need to avoid
  // conflicting with custom radio/checkbox label pseudo after element which is
  // used for rendering.
  &-required-mark::after {
    display: inline-block;
    margin-left: 0.3em;
    content: '*';
    color: map-get($theme-colors, 'danger');
  }

  &-group {
    // For details and fieldset that have applied form-group we need to reset
    // last child form-group bottom margin because this details and fieldset are
    // disabling vertical margin collapsing for edge children.
    @at-root {
      details,
      fieldset {
        // The sibling selector here is used because webform grid flex wraps the
        // form group elements in flexbox wrappers, which messes this selector
        // goal to only reset last children's margin bottom.
        &.form-group .form-group ~ .form-group:last-child {
          margin-bottom: 0;
        }
      }
    }

    // Form group will somehow change box-sizing of form items to content-box
    // which is not good. For this case we reset box sizing to border-box.
    .form-control,
    .custom-file-control {
      box-sizing: border-box;
    }

    // When filter-wrapper is coming after form item (for example text area with
    // ckeditor and input filter selector) that means that it is connected to
    // sibling form item and we need to adjust top margin and padding.
    + .filter-wrapper {
      margin-top: -$form-group-margin-bottom;
      padding-top: $form-group-margin-bottom;
    }

    .form-wrapper & .field-multiple-table {
      // Reset bottom margin that is coming from paragraphs CSS so vertical
      // grouping is better.
      margin-bottom: 0;
    }
  }

  &-composite {
    // Legend in fieldset.form-composite should look like regular form label.
    > legend {
      margin-bottom: $spacer-y / 10;
      font-size: inherit;
    }

    .fieldset-wrapper {
      // For some elements like radios/checkboxes group we do not have margin
      // on last element so we need to apply top margin for description bottom.
      > .description:last-child {
        margin-top: $form-group-margin-bottom/2;
      }
    }
  }

  &-checkboxes,
  &-radios {
    // Reset bottom margin for radios or checkboxes fields for better grouping.
    .form-group {
      margin-bottom: 0;
    }
  }

  &-control {
    @if $input-autofill-bg {
      @include bs-input-autofill-fix($input-autofill-bg, $input-color);
    }

    // Usually we do not like 100% for all form controls but this is fine for
    // small screens.
    @include media-breakpoint-up('sm') {
      width: auto;
      max-width: 100%;
    }

    &.form-range {
      // Reset right and left padding and height that are coming from
      // form-control rule because they will mess with visual look of a form
      // range.
      padding-right: 0;
      padding-left: 0;
      height: initial;
    }
  }

  &-actions {
    margin-bottom: 2 * $spacer-y;
    // Align buttons and link action elements.
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    // Apply consistent horizontal distance between form action buttons.
    .btn:not(:last-child) {
      margin-right: $spacer;
    }
  }

  // Image widget form managed file we will display in one row for bigger
  // screens.
  &-managed-file.image-widget {
    @include media-breakpoint-up($responsive-break) {
      display: flex;
      flex-wrap: nowrap;

      .image-preview {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: $spacer-x;
        margin-bottom: $form-group-margin-bottom;
        text-align: center;

        & + .image-widget-data {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }
    }
  }
}

// Description element - usually used for form descriptions. In Bootstrap this
// is a form-text CSS class, however we keep Drupal description CSS class.
.description {
  color: $text-muted;
  font-size: $font-size-sm;
  line-height: $form-text-line-height;

  &--before {
    margin-bottom: $form-text-margin-top;
  }

  &--after {
    margin-top: $form-text-margin-top;
  }
}

// Various details HTML5 element tweaks because IE/Edge does not support it.
details {
  margin-bottom: $form-group-margin-bottom;
  border: $border-width solid $border-color;

  summary {
    padding: $spacer/2 $spacer;
    cursor: pointer;
  }

  > .details-wrapper {
    padding: $spacer;
  }
}

.dropbutton {
  &-widget {
    // Stop overflowing child button background color outside of radius area.
    overflow: hidden;
    border: $input-btn-border-width solid transparent;
    border-radius: $btn-border-radius;
    background-color: map-get($theme-colors, 'secondary');

    .button {
      // Override core drop button css width rule.
      width: 100% !important;
      border-color: transparent;
      border-radius: 0;
      text-align: left;

      @include hover() {
        // Same as in BS button-variant() mixin.
        border-color: darken(map-get($theme-colors, 'secondary'), 12%);
      }
    }

    a {
      padding: $spacer/2 $spacer;
      color: color-yiq(map-get($theme-colors, 'secondary'));
    }
  }

  &-arrow {
    color: $link-color;
    color: color-yiq(map-get($theme-colors, 'secondary'));
  }
}

// Password component.
.password {
  @at-root .form-type-password .form-control {
    // Password field looks nicer when it is not too big on larger screens.
    @include media-breakpoint-up('sm') {
      max-width: 14 * $spacer;
    }
  }

  &-strength {
    font-size: $font-size-sm;

    &__meter {
      // The same thing, password-strength meter element does not look good if
      // it's 100% on big screens.
      @include media-breakpoint-up('sm') {
        max-width: 14 * $spacer;
      }
    }

    &__indicator {
      background-color: map-get($theme-colors, 'success');

      &.is-fair {
        background-color: map-get($theme-colors, 'warning');
      }

      &.is-weak {
        min-width: 2px;
        background-color: map-get($theme-colors, 'danger');
      }
    }

    &__text {
      font-weight: bold;
    }
  }

  &-confirm-message {
    margin-top: $form-text-margin-top;
    color: $text-muted;
    font-size: $font-size-sm;

    .ok {
      color: map-get($theme-colors, 'success');
      font-weight: bold;
    }

    .error {
      color: map-get($theme-colors, 'danger');
      font-weight: bold;
    }
  }

  &-suggestions {
    max-width: 46ch;
    padding: $spacer-x $spacer-y;
    border: $border-width solid $border-color;
    @if $enable-rounded {
      border-radius: $border-radius;
    }
    @if $enable-shadows {
      box-shadow: $box-shadow-sm;
    }

    ul {
      margin: 0;
    }
  }
}

.error {
  // For fieldset, details and managed file wrapper HTML structure to show
  // IEF error is too complex and not compatible with default Bootstrap CSS
  // rules so we will manually show IEF error.
  .invalid-feedback {
    display: block;

    & + .form-text {
      // IEF feedback and form element text description looks better when we
      // reset top margin of form text.
      margin-top: 0;
    }
  }
}

// Custom BS form components.
.custom {
  // Don't expand select box to full width of parent.
  &-select {
    display: block;
    max-width: 100%;
    @include media-breakpoint-up('sm') {
      // Don't allow default Bootstrap 100% expansion for big screen because
      // select does not look good then.
      width: auto;
    }
  }

  // Apply translated labels for file input and button.
  &-file {
    // Prevent custom file form to expand fully, it will look bad.
    width: auto;

    &-label {
      // Set button label.
      &::after {
        content: attr(data-browse);
      }
    }
  }

  // Checkbox and radio controls should have the same border as other input
  // elements.
  &-control {
    &-label {
      &::before {
        border: $input-btn-border-width solid $input-border-color;
      }
    }

    &-input {
      &:checked ~ .custom-control-label::before {
        border-color: $input-focus-border-color;
      }
    }
  }
}

.form-type-datetime {
  .form-group {
    // Reset inner form-group bottom margin, outer one is enough.
    margin-bottom: 0;
  }
}

.node-form {
  &-footer {
    padding-top: $spacer;
    border-top: 1px solid $border-color;
  }
}

.layout-node-form.two-columns {
  @include media-breakpoint-up($responsive-break) {
    @include make-row();

    .layout-region-node-main {
      @include make-col-ready();
      @include make-col(7, 10);
    }

    .layout-region-node-secondary {
      @include make-col-ready();
      @include make-col(3, 10);
    }

    .layout-region-node-footer {
      @include make-col-ready();
    }
  }

  .layout-region-node-secondary {
    // Vertical tabs are column oriented
    .vertical-tabs {
      flex-direction: column;

      &__menu {
        width: calc(100% + 2px);

        &-item {
          &.is-selected {
            border-right-width: 1px;
          }
        }
      }

      &__panes {
        // In the cases when layout-region-node-main is pushed below secondary
        // region we need to specify background color so at least pane is
        // visible without overlaying.
        background-color: $body-bg;
      }
    }
  }
}

// Paragraphs support.
.js .field--widget-paragraphs {
  td {
    padding-left: 10px;
    padding-right: 10px;
  }

  .field-multiple-drag {
    padding-right: 0;
  }
}
.paragraph {
  &-type-top {
    margin-bottom: 0.5 * $spacer;
  }
}
