// Prevent compilation of icons CSS when $bs-icon-use is set to false.
// This enables child themes to disable theme icons.
@if ($bs-icon-use) {
  @font-face {
    font-display: block;
    font-family: $bs-icon-font-family;
    font-style: normal;
    font-weight: normal;
    src: $bs-icon-font-src;
  }

  // Base font icon class definition.
  .#{$bs-icon-class} {
    @include bs-icon-font();
  }

  // Font icons classes content definitions.
  @each $key, $value in $bs-icon-map {
    .#{$key}::before {
      content: bs-content($value);
    }
  }

  // Support for Fontawesome shims we are using.
  @each $name, $value in $bs-icon-shims {
    @if $value {
      .#{$name}::before {
        content: bs-icon-content($value);
      }
    }
  }
}
