.dropdown-language {
  // Dropdown JS will not use popper for position dropdown which is in navbar.
  // So we will do it manually for big screen.
  @include media-breakpoint-up($responsive-break) {
    .navbar & {
      .dropdown-menu-right {
        right: 0;
        left: inherit;
      }
    }
  }

  .dropdown-header {
    margin-top: 0;
    // Set line height to previous h6 element so there is no change in height.
    line-height: $headings-line-height;
    // Make sure that when dropdown is in header or footer regions too specific
    // color rules for heading will not override dropdown color of a header.
    color: $dropdown-header-color;
  }
}

@if $language-link-transform {
  .language-link {
    text-transform: $language-link-transform;
  }
}
