.page__header__top {
  .nav-link:not(.dropdown-item):not(.btn) {
    @if $header-top-link-hover-border-width {
      @include link-hover-active-line-effect(
        $height: $header-top-link-hover-border-width,
        $color-hover: $header-top-link-hover-border-color,
        $color-active: $header-top-link-active-border-color//,
        //$padding-x: $header-top-link-padding-x
      );
    }
  }
}
