@include media-breakpoint-up($navbar-collapse-responsive-break) {
  .navbar {
    align-items: stretch;

    &-collapse {
      align-items: stretch;
    }

    &-nav {
      height: 100%;

      > .nav-item {
        > .nav-link {
          display: flex;
          height: 100%;
          align-items: center;
        }
      }
    }
  }
}
