// Common navbar layout rules needed for second level dropdown or horizontal
// version.

// Apply only if navbar collapse breakpoint is not the largest one.
@if (breakpoint-max($navbar-collapse-responsive-break) != null) {
  .navbar {
    &-nav {
      // Big screen.
      @include media-breakpoint-up($navbar-collapse-responsive-break) {
        align-items: flex-end;
      }
    }

    // For big screens by default we will stretch first level nav links so they
    // fill height of navigation bar.
    // @todo - maybe put some switch for this or move this rules to separate
    // partial.
    @include media-breakpoint-up($navbar-collapse-responsive-break) {
      &-collapse {
        align-self: stretch;
        align-items: stretch;
      }

      &-nav {
        height: 100%;
        align-items: stretch;

        > .nav-item > {
          .nav-link {
            display: flex;
            align-items: center;
            height: 100%;
          }

          // If a menu item is a button we need to also center it because
          // menu--navbar will not add nav-link CSS class in this case.
          // @see bs_bootstrap/templates/navigation/menu--navbar.html.twig.
          .btn {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        // By default our menus are on the right and then it make sense to align
        // dropdown menus to the right also.
        // This will also prevent an edge case when on smaller viewports if the
        // last menu item is a dropdown then it submenu could overflow the
        // viewport when shown. Bootstrap is also not managing this edge case
        // so it's not something we should fix for now.
        // @todo - this should be configurable because for the left menu we
        // do not need this.
        .dropdown-menu {
          right: 0;
          left: auto;
        }
      }
    }
  }
}
