// Navbar layout rules for big screens.
// Replaces Bootstrap `.navbar-expand-*` responsive rules.
// NOTES
// - Most of this rules are taken from Bootstrap _navbar.scss `.navbar-expand-*`
//   rules.
// - This rules are in separate partials so projects that do not want default
//   navbar rules can opt-out bootstrap/scss/navbar and this partials/navbar.

// Apply only if navbar collapse breakpoint is not the largest one.
@if (breakpoint-max($navbar-collapse-responsive-break) != null) {
  @include media-breakpoint-up($navbar-collapse-responsive-break) {
    .navbar {
      // Usually we have a lot of menu items and a bit wider logo so we want to
      // allow wrapping in navbar and avoid text wrapping in navbar menu items.
      flex-wrap: wrap;
      justify-content: flex-start;

      .navbar-nav {
        flex-direction: row;

        .dropdown-menu {
          position: absolute;
        }

        .nav-link {
          padding-right: $navbar-nav-link-padding-x;
          padding-left: $navbar-nav-link-padding-x;
        }
      }

      .navbar-collapse {
        display: flex !important;
        // Override BS .navbar-collapse flex-basis: 100% so we don't get two
        // rows in navbar element.
        flex-basis: auto;
      }

      .navbar-toggler {
        display: none;
      }
    }
  }
}
