// Off canvas navigation.
//
// Based on Jasny Bootstrap Off canvas library.
// @see http://www.jasny.net/bootstrap/javascript/#offcanvas.

// @todo Off canvas left option is still not supported fully.
@mixin navbar-offcanvas($position) {
  .navbar {
    @include media-responsive-breakpoint-down($navbar-collapse-responsive-break) {
      .navmenu {
        padding-top: $spacer;
      }
    }

    // If collapse breakpoint is not maximum lets define additional styles for
    // big screens.
    @if breakpoint-max($navbar-collapse-responsive-break) != null {
      @include media-breakpoint-up($navbar-collapse-responsive-break) {
        .offcanvas {
          display: block;
          width: auto;
          border: none;
        }

        .navmenu-fixed-right {
          position: initial;
          overflow-y: visible;
        }
      }
    }
  }

  .navmenu-fixed-left {
    right: auto !important;
  }

  .navmenu-fixed-right {
    left: auto !important;
  }

  .lockIphone {
    // Position fixed that is coming from jasny has a two BIG problems:
    // - Because it is applied to body element it will completly disable
    //   jump anchor links in navigation.
    // - It will mess up with push animation transition of body element (the
    //   opening and closing of off-canvas navigation).
    // Due to this we will disable fixed positioning.
    // Note however note that the right off-canvas navigation push animation for
    // body will be mess up a bit because of this.
    // @todo - because of all this and other jasny off-canvas navigation problem
    // we have we should explore other off-canvas library solution which works
    // with pure CSS transitions.
    position: inherit;
  }

  @if $position == 'right' {
    body {
      // For navmenu-fixed-right animation transition will not be applied to body
      // without assigning left auto.
      &.canvas-sliding {
        left: auto !important;
      }

      &.canvas-slid {
        padding-right: 0;
      }
    }
  }
}

.offcanvas {
  @mixin offcanvas {
    display: none;
    &.in {
      display: block;
    }
  }

  @include offcanvas;

  // We do not use this CSS switches because we rely more on SASS options
  // and compilation. Commented for now.
  //@include media-breakpoint-down('xs') {
  //  &-xs {
  //    @include offcanvas;
  //  }
  //}
  //@include media-breakpoint-down('sm') {
  //  &-sm {
  //    @include offcanvas;
  //  }
  //}
  //@include media-breakpoint-down('md') {
  //  &-md {
  //    @include offcanvas;
  //  }
  //}
  //@include media-breakpoint-down('lg') {
  //  &-lg {
  //    @include offcanvas;
  //  }
  //}
  //&-xl {
  //  @include offcanvas;
  //}

  @at-root .canvas-sliding {
    transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
  }

  &-clone {
    height: 0px !important;
    width: 0px !important;
    overflow: hidden !important;
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    position: absolute !important;
    top: auto !important;
    left: auto !important;
    bottom: 0px !important;
    right: 0px !important;
    opacity: 0 !important;
  }

  @at-root {
    .modal-backdrop.allow-navbar {
      z-index: 1029;
    }

    .limit-backdrop {
      overflow: hidden !important;

      .modal-backdrop {
        position: absolute;
      }
    }
  }

  // Off-canvas close link - use it to hide open off-canvas navigation.
  &-close-link {
    position: absolute;
    top: $spacer;
    right: $spacer;
    // Hidden by default. We have !important here because this link is usually
    // combined with btn class which has display rule also.
    display: none !important;
  }
}


// Navmenu and offcanvas navbar
//
// Light implementation of libraries/jasny-bootstrap/scss/_navmenu.scss.
// Apply navmenu base rules only for when navbar is collapsed so we avoid
// leaking of this styles for bigger screens.
@include media-responsive-breakpoint-down($navbar-collapse-responsive-break) {
  .navmenu {
    width: $navbar-offcanvas-width;
    // Do not allow sidebar navmenu which is bigger then viewport width. When
    // $navbar-offcanvas-width is bigger jasny-bootstrap offcanvas sidebar menu
    // will fail with white screen. Limiting max-width will prevent this.
    max-width: 99%;
    height: auto;
    border-width: 1px;
    border-style: solid;
  }
}
// Fixed iphone with disableScrolling
// @todo - this is creating a problems it seems now with our bs_bootstrap
// implementation - does not work fully. Needs more checking and fixin.
.lockIphone {
  position: fixed;
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}
// Fix the bug for bootstrap 3.2.0 (https://github.com/jasny/bootstrap/issues/355)
// @todo - we probably do not need top and bottom support.
.navbar-fixed-top,
.navbar-fixed-bottom {
  transform: none;
}

.navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
  // We need this rules only when off canvas is active so this rules does not
  // mess regular horizontal navigation - specially we need this for z-index.
  @include media-responsive-breakpoint-down($navbar-collapse-responsive-break) {
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
}
.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
  left: 0;
  right: auto;
  border-width: 0 1px 0 0;
}
.navmenu-fixed-right,
.navbar-offcanvas {
  left: auto;
  right: 0;
  border-width: 0 0 0 1px;
}

// Rules when navbar is in screen.
.navmenu.in {
  @include media-responsive-breakpoint-down($navbar-collapse-responsive-break) {
    background: $navbar-offcanvas-bg-color;
  }
  @if ($navbar-offcanvas-border-color) {
    border-color: $navbar-offcanvas-border-color;
  }
  @if ($navbar-offcanvas-color) {
    color: $navbar-offcanvas-color;
  }

  a:not([class]), a.ext {
    @include style-link($navbar-offcanvas-link-color, $navbar-offcanvas-link-hover-color);
  }

  .nav-link {
    @include style-nav-link($color: $navbar-offcanvas-link-color, $hover-color: $navbar-offcanvas-link-hover-color, $active-color: $navbar-offcanvas-link-active-color, $link-hover-border-color: $navbar-offcanvas-link-hover-color, $link-active-border-color: $navbar-offcanvas-link-active-color);
  }


  .btn-link {
    color: $navbar-offcanvas-link-color;

    @include hover-focus() {
      color: $navbar-offcanvas-link-hover-color;
    }
  }

  .offcanvas-close-link {
    @if ($navbar-offcanvas-btn-color-bg) {
      background-color: $navbar-offcanvas-btn-color-bg;
    }
    @if ($navbar-offcanvas-btn-color) {
      border: $input-btn-border-width solid $navbar-offcanvas-btn-color;
      color: $navbar-offcanvas-btn-color;
    }
  }

  .navbar-nav {
    @if $enable-caret {
      // Caret should match text color on hover.
      .dropdown > a:hover .caret,
      .dropdown > a:focus .caret {
        border-top-color: $navbar-offcanvas-link-hover-color;
        border-bottom-color: $navbar-offcanvas-link-hover-color;
      }
    }

    // Remove background color from open dropdown
    .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-offcanvas-link-active-bg;
        color: $navbar-offcanvas-link-active-color;

        @if $enable-caret {
          .caret {
            border-top-color: $navbar-offcanvas-link-active-color;
            border-bottom-color: $navbar-offcanvas-link-active-color;
          }
        }
      }
    }

    @if $enable-caret {
      .dropdown > a .caret {
        border-top-color: $navbar-offcanvas-link-color;
        border-bottom-color: $navbar-offcanvas-link-color;
      }
    }

    .dropdown-menu {
      background-color: $navbar-offcanvas-link-active-bg;
      & > .divider {
        background: $navbar-offcanvas-bg-color;
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          background-color: darken($navbar-offcanvas-link-active-bg, 6.5%);
        }
      }
    }

    li > a:not(.btn) {
      //@include style-simple-nav-links($navbar-offcanvas-link-color, $navbar-offcanvas-link-hover-color);

      &:hover,
      &:focus {
        background-color: $navbar-offcanvas-link-hover-bg;
      }
    }
    .active > a:not(.btn) {
      color: $navbar-offcanvas-link-active-color;
      //@include style-simple-nav-links($navbar-offcanvas-link-color, $navbar-offcanvas-link-hover-color);

      &,
      &:hover,
      &:focus {
        background-color: $navbar-offcanvas-link-active-bg;

        &::after {
          background-color: $navbar-offcanvas-link-active-color;
        }
      }
    }
    // @todo - we do not support disabled nav links for now.
    //.disabled > a {
    //  &,
    //  &:hover,
    //  &:focus {
    //    color: $navmenu-default-link-disabled-color;
    //    background-color: $navmenu-default-link-disabled-bg;
    //  }
    //}
  }

  .nav-links {
    .is-active > a:not(.btn) {
      color: $navbar-offcanvas-link-active-color;

      //@include style-link($navbar-offcanvas-link-active-color, $navbar-offcanvas-link-active-color);
    }
  }

  .offcanvas-close-link {
    display: block !important;
  }
}

// @todo Off canvas left option is still not supported fully.
@include navbar-offcanvas('right');

