.page__footer {
  @if $footer-nav-link-hover-border-width {
    .nav-link {
      @include link-hover-active-line-effect(
        $height: $footer-nav-link-hover-border-width,
        $color-hover: $footer-nav-link-hover-border-color,
        $color-active: $footer-nav-link-active-border-color //,
        // We are using y padding here because it looks better (this are not pills).
        //$padding-x: $nav-link-padding-y
      );
    }

    &__content {
      // Footer content nav links are usually vertically oriented and for them
      // active line looks better with left and right position set to zero.
      .nav-link {
        &::after {
          right: 0;
          left: 0;
        }
      }
    }
  }
}
