// Rules for extending standard Bootstrap navbar component.

// Porting parts of BS5 nav component.
.nav {
  --#{$prefix}nav-link-color: #{$link-color};
  --#{$prefix}nav-link-hover-color: #{$link-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};
  --bsb-nav-link-hover-border-color: #{if($nav-link-hover-border-width, $nav-link-hover-border-color, transparent)};
  --bsb-nav-link-active-color: #{$nav-link-active-color};
  --bsb-nav-link-active-border-color: #{if($nav-link-hover-border-width, $nav-link-active-border-color, transparent)};

  &-link {
    color: var(--#{$prefix}nav-link-color);

    &:hover,
    &:focus {
      color: var(--#{$prefix}nav-link-hover-color);

      &::after {
        background-color: var(--bsb-nav-link-hover-border-color);
      }
    }

    // We don't have always active class so lets use them both for now unit
    // we figure can we fix this with just one class @todo.
    &.is-active,
    &.active {
      color: var(--bsb-nav-link-active-color);

      &::after {
        background-color: var(--bsb-nav-link-active-border-color);
      }
    }

    &.disabled,
    &:disabled {
      color: var(--#{$prefix}nav-link-disabled-color);
    }
  }
}

// Apply Bootstrap fixed z-index position to fixed toolbar.
body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  z-index: $zindex-fixed;
}

// General links in menu and language blocks.
.block {
  &-menu {
    .nav {
      // By default we sort menu blocks vertically.
      flex-direction: column;
    }
  }
}

// Collapsible main navigation area.
.navbar {
  @if $header-bg or $navbar-border-bottom {
    &-wrapper {
      @if $header-bg {
        background-color: $header-bg;
      }

      @if $navbar-border-bottom {
        border-bottom: $navbar-border-bottom;
      }
    }
  }

  // Used for brand (logo, slogan and site names).
  &-brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -$grid-gutter-width/4;
    margin-left: -$grid-gutter-width/4;
    // We need to add negative grid gutter margins.
    flex-basis: calc(100% + #{$grid-gutter-width/2});
    max-width: calc(100% + #{$grid-gutter-width/2});

    .site-logo-link,
    .site-name,
    .site-slogan {
      max-width: 100%;
      padding-left: $grid-gutter-width/4;
      padding-right: $grid-gutter-width/4;
    }

    a {
      font-size: $header-link-size;
      line-height: inherit;
      white-space: nowrap;
    }

    // Limit maximum dimensions for logo image.
    .site-logo {
      @if $brand-logo-width {
        width: $brand-logo-width;
      }
      height: auto;
      max-width: 100%;
      max-height: if($brand-logo-max-height, $brand-logo-max-height, 100%);
      // Fix iPhone Safari problem when logo height is bigger then
      // $brand-logo-max-height.
      object-fit: contain;
    }
  }

  .site-name {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
  }

  &-toggler {
    margin-top: $header-toggler-margin-y;
    margin-bottom: $header-toggler-margin-y;
    @if $navbar-toggler-bg-color {
      background-color: $navbar-toggler-bg-color;
    }
    @if $navbar-toggler-border-color {
      border-color: $navbar-toggler-border-color;
    }
    color: $navbar-toggler-color;

    @if $navbar-toggler-icon-bg {
      &-icon {
        background-image: escape-svg($navbar-toggler-icon-bg);
      }
    }
    @if $navbar-toggler-close-icon-bg {
      &[aria-expanded="true"] {
        .navbar-toggler-icon {
          background-image: $navbar-toggler-close-icon-bg;
        }
      }
    }

    @if $navbar-toggler-hover-color or $navbar-toggler-border-hover-color {
      @include hover-focus {
        @if $navbar-toggler-hover-color {
          color: $navbar-toggler-hover-color;
        }
        @if $navbar-toggler-border-hover-color {
          border-color: $navbar-toggler-border-hover-color;
        }
      }
      @if $navbar-toggler-icon-hover-bg {
        &-icon {
          @include hover-focus {
            background-image: $navbar-toggler-icon-hover-bg;
          }
        }
      }
    }
  }

  &-text {
    @if $header-color {
      color: $header-color;
    }
  }

  @if $header-link-hover-border-width {
    a.nav-link {
      @include link-hover-active-line-effect(
        $height: $header-link-hover-border-width,
        $color-hover: $header-link-hover-border-color,
        $color-active: $header-link-active-border-color,
        $padding-x: $navbar-nav-link-padding-x
      );
    }
  }

  // Small screen.
  @include media-responsive-breakpoint-down($navbar-collapse-responsive-break) {
    .nav-link {
      padding: $navbar-small-dropdown-link-padding-y $navbar-small-dropdown-link-padding-x;
    }

    a.nav-link {
      @if $header-link-hover-border-width {
        &::after {
          right: $navbar-small-dropdown-link-padding-x;
          left: $navbar-small-dropdown-link-padding-x;
        }
      }

      @if $navbar-small-dropdown-menu-hover-bg {
        @include hover-focus() {
          background: $navbar-small-dropdown-menu-hover-bg;
        }
      }
    }

    // For sidebar main navigation we want for all links the same design so we
    // need to reset some rules that can come from dropdown menu.
    .navmenu {
      .dropdown-menu {
        margin-top: 0;
        padding: $navbar-small-dropdown-menu-padding;
        background: $navbar-small-dropdown-menu-bg;
        border: none;
      }

      // We are setting color CSS attribute for this nav-links because
      // in some rare cases order of navigation.css and dropdown.css files
      // can be in that case that dropdown.css will be loaded after
      // navigation.css and then dropdown link CSS rules will be stronger
      // and this nav-links will take color of dropdown - something that
      // we do not want.
      .nav-link {
        color: var(--#{$prefix}nav-link-color);

        @include hover-focus() {
          color: var(--#{$prefix}nav-link-hover-color);
        }

        &.active, &:active, &.is-active {
          background: $navbar-small-dropdown-menu-active-bg;
          color: var(--bsb-nav-link-active-color);
        }
      }
    }
  }
}

.page__content {
  // Navigation menu blocks in main content.
  .block-menu {
    .nav {
      &-link {
        @if $nav-link-hover-color and $nav-link-hover-color != $link-hover-color {
          @include hover-focus() {
            color: $nav-link-hover-color;
          }
        }

        @if $nav-link-active-color {
          // We don't have always active class so lets use them both for now unit
          // we figure can we fix this with just one class @todo.
          &.is-active,
          &.active {
            color: $nav-link-active-color;
          }
        }

        @if $nav-link-hover-border-width {
          @include link-hover-active-line-effect(
            $height: $nav-link-hover-border-width,
            $color-hover: $nav-link-hover-border-color,
            $color-active: $nav-link-active-border-color
          );
        }
      }
    }
  }
}

.nav-tabs,
.nav-pills {
  // Don't let long nav tabs/pills from local links wrap in multiple lines.
  flex-wrap: nowrap;
  // Don't let long nav tabs from local links and similar overflow for smaller
  // screens. Enable horizontal scrolling when needed.
  // This will create a small visual bug because when `overflow-y: hidden` is
  // applied active tab will not be able to cover nav-tabs bottom border.
  // This is not easy to fix. One way, to avoid overflow problem, is to use
  // nav-tabs::before absolute pseudo element, but this is complicating then
  // z-index situation with li.nav-item because we do not have nav-item--active
  // CSS class for now to target only active tab.
  // However despite this visual problem benefit of horizontal scrolling in
  // the case when tabs are overflowing is greater then not displaying them
  // which can then partially disable navigation.
  overflow-x: auto;
  overflow-y: hidden;

  // @note - we should not need to do something like this, auto should be
  // enough right?
  //@include media-breakpoint-down('sm') {
  //  overflow-x: scroll;
  //}

  .nav-link {
    padding: $nav-tabs-link-padding-y $nav-tabs-link-padding-x;
    // Tab links looks better when they are in one line.
    white-space: nowrap;
  }
}

// Inline SVG logo.
.site-logo-link--svg {
  // Center SVG in the middle of the link.
  display: flex;
  align-items: center;
  // Without this max width logo will overflow in FF.
  max-width: 100%;

  svg {
    // SVG logo should respect parent width and not overflow it.
    max-width: 100%;
  }

  @at-root {
    @if $brand-logo-svg-color {
      .svg-logo-color path {
        fill: $brand-logo-svg-color;
      }
    }
  }

  @if $brand-logo-hover-svg-color {
    @include hover-focus() {
      .svg-logo-color path {
        fill: $brand-logo-hover-svg-color;
      }
    }
  }
}
