// First and second levels are horizontal, third is a dropdown.
$navbar-second-level-height: #{$navbar-2nd-link-padding-x + $navbar-2nd-link-padding-y + $navbar-2nd-font-size * $line-height-base} + #{$navbar-2nd-border-bottom-width} !default;

@if breakpoint-max($navbar-collapse-responsive-break) != null {
  @include media-breakpoint-up($navbar-collapse-responsive-break) {
    .navbar-wrapper {
      transition: all 0.05s;

      // Create space and background style for second level horizontal navigation.
      &.second-level-reserve-space {
        // Claim the space for 2nd navigation line.
        @if ($navbar-second-level-height) {
          #{$navbar-second-level-distance-type}-bottom: calc(#{$navbar-second-level-height});
        }

        // In this case border bottom will be wrongly applied, because of a
        // 2nd navigation line padding, so we need to remove it and apply it
        // below on a pseudo after element.
        @if $navbar-border-bottom {
          border-bottom: none;
        }
      }

      .navbar-nav {
        position: relative;
      }

      &.second-level-expanded {
        &::after {
          position: absolute;
          right: 0;
          left: 0;
          display: block;
          width: 100%;
          height: calc(#{$navbar-second-level-height});
          content: '';
          z-index: 1;
          @if ($navbar-2nd-border-bottom) {
            border-bottom: $navbar-2nd-border-bottom;
          }

          // Border bottom is removed because of the padding for expanded or
          // it is covered in the case of a hover so lets recover it with a top
          // border on this after element.
          @if $navbar-border-bottom {
            border-top: $navbar-border-bottom;
          }
        }

        // Apply bg only when space is not reserved to ovoid semi transparent bg
        // color combinations.
        &:not(.second-level-reserve-space) {
          &::after {
            background-color: $navbar-2nd-bg;
          }
        }
      }
    }

    .navbar-collapse {
      .block-menu {
        // We need to reset menu block positions in navbar so second level
        // absolute  positioning is related to navbar element.
        // It seems relative works better then static and it also works better
        // when block has contextual menu.
        position: relative;
      }
    }

    .navbar-nav {
      // 1st level navigation.
      > .dropdown {

        // We are hiding the dropdown toggle for the 1st level.
        > .dropdown-toggle::after {
          display: none;
        }

        &.active {
          position: static;

          // 2nd level navigation - horizontal layout.
          > .dropdown-menu {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            // Reset BS dropdown styles.
            padding: 0;
            margin: 0;
            // z-index need to be 2 and not 0 so menu is visible.
            z-index: 2;
            // Bg color is controlled by after pseudo element on navbar-wrapper
            // so make sure that here bg is transparent.
            background-color: transparent;
            border-radius: 0;
            border-width: 0;

            // We are setting color CSS attribute for this nav-links because
            // in some rare cases order of navigation.css and dropdown.css files
            // can be in that case that dropdown.css will be loaded after
            // navigation.css and then dropdown link CSS rules will be stronger
            // and this nav-links will take color of dropdown - something that
            // we do not want.
            .nav-link {
              padding-top: $navbar-2nd-link-padding-y;
              padding-bottom: $navbar-2nd-link-padding-y;
              color: var(--#{$prefix}nav-link-color);
              font-size: $navbar-2nd-font-size;

              @include hover-focus() {
                background-color: $header-link-hover-bg;
                color: var(--#{$prefix}nav-link-hover-color);
              }

              &.active, &:active {
                background-color: $header-link-active-bg;
                color: var(--bsb-nav-link-active-color);
              }
            }

            // 3rd level navigation.
            > .dropdown > .dropdown-menu {
              @include clean-dropdown-menu();
            }
          }
        }
      }
    }
  }
}
