.navbar {
  // Remove hover line in dropdown menus.
  @if $header-link-hover-border-width {
    .dropdown-menu {
      .nav-link {
        &::after {
          display: none;
        }
      }
    }
  }
}

// Second level is a dropdown.
@if breakpoint-max($navbar-collapse-responsive-break) != null {
  @include media-breakpoint-up($navbar-collapse-responsive-break) {
    .navbar-nav {
      // 1st level navigation.
      > .dropdown {

        // 2nd level navigation - dropdown layout.
        > .dropdown-menu {
          @include clean-dropdown-menu();

          // We do not support 3th level menu navigation for this case so no
          // need to display toggle also.
          .dropdown-toggle::after {
            display: none;
          }
        }
      }
    }
  }
}
