.pagination {
  // Offer a scrollbar when needed (small screens).
  overflow-x: auto;
}

.page {
  &-item {
    // Prevent pagination to overflow horizontally on small screens.
    // @see https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/
    min-width: 0;
  }

  // Drupal pager has ellipses element and by default we want to render this
  // element similarly to a page-link element but without link styling and
  // border.
  &-ellipses {
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height
  }
}
