// Webform flex rules (defined in webform.element.flexbox.css) overrides.
.webform {
  // Fit in vertical form layout.
  &-flexbox {
    @media (min-width: 768px) {
      margin-top: 0;
      margin-bottom: $form-group-margin-bottom;
    }
  }

  &-flex--container {
    // Webform flexbox grid form controls should expand 100% width by default.
    .form-control {
      width: 100%;
    }
  }
}

// Webform flexbox in fieldset or details container.
.form-group {
  .webform-flexbox:last-child {
    // For the last webform-flexbox row we are resetting bottom margin because
    // parent form-group already has a bottom margin and when parent is details
    // or fieldset margin collapsing will not work.
    margin-bottom: 0;

    // We need to do the same for the last form-group item.
    .webform-flex:last-child {
      .webform-flex--container > .form-group {
        margin-bottom: 0;
      }
    }
  }
}
