.site-logo-link img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .maintenance--image .maintenance__text {
    flex-basis: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
  }
  .maintenance--image .maintenance__image {
    flex-basis: 40%;
    max-width: 40%;
  }
}
