body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters +
> .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.page__header .block {
  margin-bottom: 0;
}

.page__header .navbar-brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page__header a:not([class]), .page__header a.ext:not(.nav-link), .page__header a.site-name {
  color: #007bff;
  text-decoration: none;
}

.page__header a:not([class]):hover, .page__header a:not([class]):focus, .page__header a.ext:not(.nav-link):hover, .page__header a.ext:not(.nav-link):focus, .page__header a.site-name:hover, .page__header a.site-name:focus {
  color: #006fe6;
  text-decoration: underline;
}

.page__header a:not([class]).is-active, .page__header a:not([class]).active, .page__header a.ext:not(.nav-link).is-active, .page__header a.ext:not(.nav-link).active, .page__header a.site-name.is-active, .page__header a.site-name.active {
  color: #006fe6;
  text-decoration: underline;
}

.page__header a:not([class]).disabled, .page__header a.ext:not(.nav-link).disabled, .page__header a.site-name.disabled {
  color: #6c757d;
}

.page__header a.nav-link {
  color: #007bff;
}

.page__header a.nav-link:hover, .page__header a.nav-link:focus {
  color: #006fe6;
}

.page__header a.nav-link.is-active, .page__header a.nav-link.active {
  color: #006fe6;
}

.page__header a.nav-link.disabled {
  color: #6c757d;
}

.page__header a.nav-link:hover::after, .page__header a.nav-link:focus::after {
  background-color: #006fe6;
}

.page__header a.nav-link.is-active, .page__header a.nav-link.active {
  color: #006fe6;
}

.page__header a.nav-link.is-active::after, .page__header a.nav-link.active::after {
  background-color: #006fe6;
}

.page__header a.nav-link.disabled {
  color: #6c757d;
}

.page__header__top {
  background-color: #e9ecef;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}

.region-top {
  align-items: center;
  justify-content: flex-end;
}

.region-top .block {
  padding-right: 15px;
  padding-left: 15px;
}

.region-brand {
  display: flex;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
  flex-basis: calc(75% + 30px);
  max-width: calc(75% + 30px);
}

.region-brand .block {
  padding-right: 15px;
  padding-left: 15px;
}

.region-brand .site-logo-link {
  display: block;
  flex: 0 0 auto;
}

.region-brand .site-name,
.region-brand .site-slogan {
  display: none;
}

.region-navbar {
  justify-content: flex-end;
}

.region-navigation-second {
  display: flex;
  align-items: center;
}

.page__header__top .block-menu .nav,
.region-navigation-second .block-menu .nav {
  flex-direction: row;
}

.page__header__top .block-menu .nav .btn,
.region-navigation-second .block-menu .nav .btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.page__header .region:not(.region-navbar) {
  margin-right: -15px;
  margin-left: -15px;
}

.page__header .region:not(.region-navbar) .block {
  padding-right: 15px;
  padding-left: 15px;
}

.page__header .region:not(.region-navbar) .nav {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.page__main .block:last-child {
  margin-bottom: 0;
}

.page__content--with-sidebar .page__content-col,
.page__content--with-sidebar .region-content-sidebar {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.region-content-top .block:last-child {
  margin-bottom: 0;
}

.region-content-header .block-local-tasks-block:last-child {
  margin-bottom: 2rem;
}

.region-content-footer {
  margin-bottom: 2rem;
}

.page__footer {
  background-color: #e9ecef;
  color: #343a40;
  font-size: 0.9rem;
}

.page__footer a:not(.btn):not(.nav-link) {
  color: #007bff;
  text-decoration: none;
}

.page__footer a:not(.btn):not(.nav-link):hover, .page__footer a:not(.btn):not(.nav-link):focus {
  color: #006fe6;
  text-decoration: underline;
}

.page__footer a:not(.btn):not(.nav-link).is-active, .page__footer a:not(.btn):not(.nav-link).active {
  color: #006fe6;
  text-decoration: underline;
}

.page__footer a:not(.btn):not(.nav-link).disabled {
  color: #6c757d;
}

.page__footer a.nav-link {
  color: #007bff;
}

.page__footer a.nav-link:hover, .page__footer a.nav-link:focus {
  color: #006fe6;
}

.page__footer a.nav-link.is-active, .page__footer a.nav-link.active {
  color: #006fe6;
}

.page__footer a.nav-link.disabled {
  color: #6c757d;
}

.page__footer a.nav-link:hover::after, .page__footer a.nav-link:focus::after {
  background-color: #006fe6;
}

.page__footer a.nav-link.is-active, .page__footer a.nav-link.active {
  color: #006fe6;
}

.page__footer a.nav-link.is-active::after, .page__footer a.nav-link.active::after {
  background-color: #006fe6;
}

.page__footer a.nav-link.disabled {
  color: #6c757d;
}

.page__footer h1, .page__footer h2, .page__footer h3, .page__footer h4, .page__footer h5, .page__footer h6 {
  color: #343a40;
}

.page__footer__copyright {
  background-color: #cbd3da;
  color: #343a40;
}

.page__footer {
  margin-bottom: 1rem;
}

.page__footer p {
  margin-bottom: 0.5rem;
}

.page__footer p:last-child {
  margin-bottom: 0;
}

.page__footer .region {
  margin-bottom: -1rem;
}

.page__footer .block {
  margin-bottom: 1rem;
}

.page__footer__content {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page__footer__content .block {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.page__footer__content .block-bs-lib-scroll-to-top-block {
  margin-bottom: 0 !important;
  padding-right: 1rem !important;
}

.page__footer__content a.nav-link {
  padding-right: 0;
  padding-left: 0;
}

.page__footer__copyright {
  padding-top: 1rem;
}

.page__footer .region-footer .block:first-child .block__title,
.page__footer .region-footer .block:first-child .field--name-body > h3:first-child,
.page__footer .region-footer .block:first-child .field--name-body > h4:first-child {
  margin-top: 0;
}

.region-footer-copyright {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: inherit;
}

.region-footer-copyright .block {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .page__footer__content .block {
    flex: 1;
    width: auto;
  }
  .page__footer__content .block-bs-lib-scroll-to-top-block {
    flex: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .page__header .navbar-brand {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .region-brand {
    flex-basis: calc(350px + 30px);
    max-width: calc(350px + 30px);
  }
  .region-brand {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .region-brand .site-name,
  .region-brand .site-slogan {
    display: inherit;
  }
  .page__header .region-navbar {
    margin-right: -15px;
    margin-left: -15px;
  }
  .page__header .region-navbar .block {
    padding-right: 15px;
    padding-left: 15px;
  }
  .page__header .region-navbar .navbar-nav {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  .page__content--with-sidebar .page__content-col {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .page__content--with-sidebar .region-content-sidebar {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .page__footer__content .region {
    flex: 1;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .page__footer .block__title,
  .page__footer .field--name-body > h3:first-child,
  .page__footer .field--name-body > h4:first-child {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 767px) {
  .page__header .region-navbar {
    order: 1;
  }
  .page__header .region-navbar .block {
    margin-bottom: 1rem;
  }
  .page__footer__content .block-bs-lib-scroll-to-top-block {
    position: absolute;
    top: 0;
    right: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .page__footer__content .block-bs-lib-scroll-to-top-block .btn:not(.bs-lib-scroll-to-top--fixed) {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
