.views__pager {
  margin-top: 30px;
}

.views__item:not(:last-child) {
  margin-bottom: 30px;
}

.views__feed {
  margin-top: 30px;
}

.views__pager .pagination {
  margin-bottom: 0;
}

.views-view-grid .views-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.views-view-grid .views-row:last-child {
  margin-bottom: -30px;
}

.views-view-grid .views-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  display: flex;
}

.views-exposed-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .views-view-grid.cols-4 .views-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .views-view-grid.cols-5 .views-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .views-view-grid.cols-6 .views-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .views-view-grid.cols-2 .views-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .views-view-grid.cols-3 .views-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .views-view-grid.cols-4 .views-col {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .views-view-grid.cols-5 .views-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .views-view-grid.cols-6 .views-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .views-view-grid.cols-5 .views-col {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1200px) {
  .views-view-grid.cols-6 .views-col {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}
