{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see bs_base_form_node_form_alter()
 */
#}
<div class="layout-node-form {{ form.advanced ? 'two-columns' }}">
  <div class="layout-region layout-region-node-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  {% if form.advanced %}
    <div class="layout-region layout-region-node-secondary">
      {{ form.advanced }}
    </div>
  {% endif %}
  <div class="layout-region layout-region-node-footer">
    {{ form.footer }}
    {{ form.actions }}
  </div>
</div>
