{% extends "@bs_base/navigation/breadcrumb.html.twig" %}
{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% block breadcrumb %}
  {% set item_class = 'breadcrumb-item' %}
  {{ parent() }}
  {# Add structured data.
     @see https://developers.google.com/search/docs/data-types/breadcrumb #}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
      {% for crumb in breadcrumb -%}
        {
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ crumb.text|render|striptags|escape('js') }}",
          "item": "{{ base_url }}{{ not loop.last ? crumb.url : current_url }}"
        }{{ not loop.last ? ',' }}
      {%- endfor %}]
    }
  </script>
{% endblock %}
