{#
/**
 * @file
 * Default theme implementation for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 *
 * @ingroup themeable
 */
#}
{# @see Drupal\Core\Render\Element\Link::preRenderLink() #}
{% set classes = ['nav-link'] %}
{% if is_active %}
  {% set classes = classes|merge(['active']) %}
{% endif %}
{% set link = link|merge({'#attributes': {'class': classes}}) %}
<li{{ attributes.addClass('nav-item') }}>{{ link }}</li>
